<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>詩篇 72:13 </string>
		<key>en</key>
		<string>He shall spare the poor and needy, and shall save the souls of the needy.</string>
		<key>zh_TW</key>
		<string>他要憐恤貧寒和窮乏的人, 拯救窮苦人的性命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 103:13 </string>
		<key>en</key>
		<string>Like as a father pitieth his children, so the LORD pitieth them that fear him.</string>
		<key>zh_TW</key>
		<string>父親怎樣憐恤他的兒女, 耶和華也怎樣憐恤敬畏他的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 28:13 </string>
		<key>en</key>
		<string>He that covereth his sins shall not prosper: but whoso confesseth and forsaketh them shall have mercy.</string>
		<key>zh_TW</key>
		<string>遮掩自己罪過的, 必不享通. 承認離棄罪過的, 必蒙憐恤.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 49:10 </string>
		<key>en</key>
		<string>They shall not hunger nor thirst; neither shall the heat nor sun smite them: for he that hath mercy on them shall lead them, even by the springs of water shall he guide them.</string>
		<key>zh_TW</key>
		<string>不飢不渴, 炎熱和烈日必不傷害他們, 因為憐恤他們的, 必引導他們, 領他們到水泉旁邊.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 49:13 </string>
		<key>en</key>
		<string>Sing, O heavens; and be joyful, O earth; and break forth into singing, O mountains: for the LORD hath comforted his people, and will have mercy upon his afflicted.</string>
		<key>zh_TW</key>
		<string>諸天哪, 應當歡呼. 大地阿, 應當快樂. 眾山哪, 應當發聲歌唱. 因為耶和華已經安慰他的百姓, 也要憐恤他困苦之民.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 49:15 </string>
		<key>en</key>
		<string>Can a woman forget her sucking child, that she should not have compassion on the son of her womb? yea, they may forget, yet will I not forget thee.</string>
		<key>zh_TW</key>
		<string>婦人焉能忘記他吃奶的嬰孩, 不憐恤他所生的兒子. 即或有忘記的, 我卻不忘記你.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 54:8 </string>
		<key>en</key>
		<string>In a little wrath I hid my face from thee for a moment; but with everlasting kindness will I have mercy on thee, saith the LORD thy Redeemer.</string>
		<key>zh_TW</key>
		<string>我的怒氣漲溢, 頃刻之間向你掩面, 卻要以永遠的慈愛憐恤你. 這是耶和華你的救贖主說的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 54:10 </string>
		<key>en</key>
		<string>For the mountains shall depart, and the hills be removed; but my kindness shall not depart from thee, neither shall the covenant of my peace be removed, saith the LORD that hath mercy on thee.</string>
		<key>zh_TW</key>
		<string>大山可以挪開, 小山可以遷移. 但我的慈愛必不離開你, 我平安的約也不遷移. 這是憐恤你的耶和華說的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 55:7 </string>
		<key>en</key>
		<string>Let the wicked forsake his way, and the unrighteous man his thoughts: and let him return unto the LORD, and he will have mercy upon him; and to our God, for he will abundantly pardon.</string>
		<key>zh_TW</key>
		<string>惡人當離棄自己的道路. 不義的人當除去自己的意念, 歸向耶和華, 耶和華就必憐恤他, 當歸向我們的神, 因為神必廣行赦免.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約珥書 2:18 </string>
		<key>en</key>
		<string>Then will the LORD be jealous for his land, and pity his people.</string>
		<key>zh_TW</key>
		<string>耶和華就為自己的地發熱心, 憐恤他的百姓.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>瑪拉基書 3:17 </string>
		<key>en</key>
		<string>And they shall be mine, saith the LORD of hosts, in that day when I make up my jewels; and I will spare them, as a man spareth his own son that serveth him.</string>
		<key>zh_TW</key>
		<string>萬軍之耶和華說, 在我所定的日子, 他們必屬我, 特特歸我, 我必憐恤他們, 如同人憐恤服事自己的兒子.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 5:7 </string>
		<key>en</key>
		<string>Blessed are the merciful: for they shall obtain mercy.</string>
		<key>zh_TW</key>
		<string>憐恤人的人有福了, 因為他們必蒙憐恤.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 11:32 </string>
		<key>en</key>
		<string>For God hath concluded them all in unbelief, that he might have mercy upon all.</string>
		<key>zh_TW</key>
		<string>因為神將眾人都圈在不順服之中, 特意要憐恤眾人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 3:17 </string>
		<key>en</key>
		<string>But whoso hath this world's good, and seeth his brother have need, and shutteth up his bowels of compassion from him, how dwelleth the love of God in him?</string>
		<key>zh_TW</key>
		<string>凡有世上財物的, 看見弟兄窮乏, 卻塞住憐恤的心, 愛神的心怎能存在他裡面呢.</string>
	</dict>
</array>
</plist>
