<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>出埃及記 33:19 </string>
		<key>en</key>
		<string>And he said, I will make all my goodness pass before thee, and I will proclaim the name of the LORD before thee; and will be gracious to whom I will be gracious, and will shew mercy on whom I will shew mercy.</string>
		<key>zh_TW</key>
		<string>耶和華說, 我要顯我一切的恩慈, 在你面前經過, 宣告我的名. 我要恩待誰, 就恩待誰, 要憐憫誰, 就憐憫誰,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒迦利亞書 9:17 </string>
		<key>en</key>
		<string>For how great is his goodness, and how great is his beauty! corn shall make the young men cheerful, and new wine the maids.</string>
		<key>zh_TW</key>
		<string>他的恩慈何等大, 他的榮美何其盛. 五穀健壯少男, 新酒培養處女.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 11:22 </string>
		<key>en</key>
		<string>Behold therefore the goodness and severity of God: on them which fell, severity; but toward thee, goodness, if thou continue in his goodness: otherwise thou also shalt be cut off.</string>
		<key>zh_TW</key>
		<string>可見神的恩慈, 和嚴厲. 向那跌倒的人, 是嚴厲的. 向你是有恩慈的, 只要你長久在祂的恩慈裡. 不然, 你也要被砍下來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 2:7 </string>
		<key>en</key>
		<string>That in the ages to come he might shew the exceeding riches of his grace in his kindness toward us through Christ Jesus.</string>
		<key>zh_TW</key>
		<string>要將他極豐富的恩典, 就是他在基督耶穌裡向我們所施的恩慈, 顯明給後來的世代看.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 4:32 </string>
		<key>en</key>
		<string>And be ye kind one to another, tenderhearted, forgiving one another, even as God for Christ's sake hath forgiven you.</string>
		<key>zh_TW</key>
		<string>並要以恩慈相待, 存憐憫的心, 彼此饒恕, 正如神在基督裡饒恕了你們一樣.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 3:12 </string>
		<key>en</key>
		<string>Put on therefore, as the elect of God, holy and beloved, bowels of mercies, kindness, humbleness of mind, meekness, longsuffering;</string>
		<key>zh_TW</key>
		<string>所以你們既是神的選民, 聖潔蒙愛的人, 就要存 ((原文作穿下同)) 憐憫, 恩慈, 謙虛, 溫柔, 忍耐的心.</string>
	</dict>
</array>
</plist>
