<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>箴言 25:15 </string>
		<key>en</key>
		<string>By long forbearing is a prince persuaded, and a soft tongue breaketh the bone.</string>
		<key>zh_TW</key>
		<string>恆常忍耐, 可以勸動君王. 柔和的舌頭, 能折斷骨頭.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>傳道書 7:8 </string>
		<key>en</key>
		<string>Better is the end of a thing than the beginning thereof: and the patient in spirit is better than the proud in spirit.</string>
		<key>zh_TW</key>
		<string>事情的終局, 強如事情的起頭. 存心忍耐的, 勝過居心驕傲的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 10:22 </string>
		<key>en</key>
		<string>And ye shall be hated of all men for my name's sake: but he that endureth to the end shall be saved.</string>
		<key>zh_TW</key>
		<string>並且你們要為我的名, 被眾人恨惡, 惟有忍耐到底的, 必然得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 8:15 </string>
		<key>en</key>
		<string>But that on the good ground are they, which in an honest and good heart, having heard the word, keep it, and bring forth fruit with patience.</string>
		<key>zh_TW</key>
		<string>那落在好土裡的, 就是人聽了道, 持守在誠實善良的心裡,並且忍耐著結實.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 21:19 </string>
		<key>en</key>
		<string>In your patience possess ye your souls.</string>
		<key>zh_TW</key>
		<string>你們常存忍耐, 就必保全靈魂. (.或作必得生命.)</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 3:25 </string>
		<key>en</key>
		<string>Whom God hath set forth to be a propitiation through faith in his blood, to declare his righteousness for the remission of sins that are past, through the forbearance of God;</string>
		<key>zh_TW</key>
		<string>神設立耶穌作挽回祭, 是憑著耶穌的血, 藉著人的信, 要顯明神的義. 因為他用忍耐的心, 寬容人先時所犯的罪.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:25 </string>
		<key>en</key>
		<string>But if we hope for that we see not, then do we with patience wait for it.</string>
		<key>zh_TW</key>
		<string>但我們若盼望那所不見的, 就必忍耐等候.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 12:12 </string>
		<key>en</key>
		<string>Rejoicing in hope; patient in tribulation; continuing instant in prayer;</string>
		<key>zh_TW</key>
		<string>在指望中要喜樂. 在患難中要忍耐. 禱告要恆切.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 15:4 </string>
		<key>en</key>
		<string>For whatsoever things were written aforetime were written for our learning, that we through patience and comfort of the scriptures might have hope.</string>
		<key>zh_TW</key>
		<string>從前所寫的聖經都是為教訓我們寫的, 叫我們因聖經所生的忍耐和安慰, 可以得著盼望.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 11:19 </string>
		<key>en</key>
		<string>For ye suffer fools gladly, seeing ye yourselves are wise.</string>
		<key>zh_TW</key>
		<string>你們既是精明的人, 就能甘心忍耐愚妄人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 12:12 </string>
		<key>en</key>
		<string>Truly the signs of an apostle were wrought among you in all patience, in signs, and wonders, and mighty deeds.</string>
		<key>zh_TW</key>
		<string>我在你們中間, 用百般的忍耐, 藉著神蹟奇事異能, 顯出使徒的憑據來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 4:2 </string>
		<key>en</key>
		<string>With all lowliness and meekness, with longsuffering, forbearing one another in love;</string>
		<key>zh_TW</key>
		<string>凡事謙虛, 溫柔, 忍耐, 用愛心互相寬容,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦前書 1:3 </string>
		<key>en</key>
		<string>Remembering without ceasing your work of faith, and labour of love, and patience of hope in our Lord Jesus Christ, in the sight of God and our Father;</string>
		<key>zh_TW</key>
		<string>在神我們的父面前, 不住的記念你們因信心所作的工夫, 因愛心所受的勞苦, 因盼望我們主耶穌基督所存的忍耐.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦後書 1:4 </string>
		<key>en</key>
		<string>So that we ourselves glory in you in the churches of God for your patience and faith in all your persecutions and tribulations that ye endure:</string>
		<key>zh_TW</key>
		<string>甚至我們在神的各教會裡為你們誇口, 都因你們在所受的一切逼迫患難中, 仍舊存忍耐和信心.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦後書 3:5 </string>
		<key>en</key>
		<string>And the Lord direct your hearts into the love of God, and into the patient waiting for Christ.</string>
		<key>zh_TW</key>
		<string>願主引導你們的心, 叫你們愛神並學基督的忍耐.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 2:12 </string>
		<key>en</key>
		<string>If we suffer, we shall also reign with him: if we deny him, he also will deny us:</string>
		<key>zh_TW</key>
		<string>我們若能忍耐, 也必和祂一同作王. 我們若不認祂, 祂也必不認我們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 2:24 </string>
		<key>en</key>
		<string>And the servant of the Lord must not strive; but be gentle unto all men, apt to teach, patient,</string>
		<key>zh_TW</key>
		<string>然而主的僕人不可爭競, 只要溫溫和和的待眾人, 善於教導, 存心忍耐,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 4:2 </string>
		<key>en</key>
		<string>Preach the word; be instant in season, out of season; reprove, rebuke, exhort with all longsuffering and doctrine.</string>
		<key>zh_TW</key>
		<string>務要傳道. 無論得時不得時, 總要專心, 並用百般的忍耐, 各樣的教訓, 責備人, 警戒人, 勸勉人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提多書 2:2 </string>
		<key>en</key>
		<string>That the aged men be sober, grave, temperate, sound in faith, in charity, in patience.</string>
		<key>zh_TW</key>
		<string>勸老年人, 要有節制, 端莊, 自守, 在信心愛心忍耐上, 都要純全無疵.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 6:12 </string>
		<key>en</key>
		<string>That ye be not slothful, but followers of them who through faith and patience inherit the promises.</string>
		<key>zh_TW</key>
		<string>並且不檞怠. 總要效法那些憑信心和忍耐承受應許的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 10:36 </string>
		<key>en</key>
		<string>For ye have need of patience, that, after ye have done the will of God, ye might receive the promise.</string>
		<key>zh_TW</key>
		<string>你們必須忍耐, 使你們行完了神的旨意, 就可以得著所應許的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 12:1-2 </string>
		<key>en</key>
		<string>Wherefore seeing we also are compassed about with so great a cloud of witnesses, let us lay aside every weight, and the sin which doth so easily beset us, and let us run with patience the race that is set before us, Looking unto Jesus the author and finisher of our faith; who for the joy that was set before him endured the cross, despising the shame, and is set down at the right hand of the throne of God.</string>
		<key>zh_TW</key>
		<string>我們既有這許多的見證人, 如同雲彩圍著我們, 就當放下各樣的重擔, 脫去容易纏累我們的罪, 存心忍耐, 奔那擺在我們前頭的路程, 仰望為我們信心創始成終的耶穌. ((或作仰望那將真道創始成終的耶穌)) 他因那擺在前頭的喜樂, 就輕看羞辱,忍受了十字架的苦難, 便坐在神寶座的右邊.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 5:7-8 </string>
		<key>en</key>
		<string>Be patient therefore, brethren, unto the coming of the Lord. Behold, the husbandman waiteth for the precious fruit of the earth, and hath long patience for it, until he receive the early and latter rain. Be ye also patient; stablish your hearts: for the coming of the Lord draweth nigh.</string>
		<key>zh_TW</key>
		<string>弟兄們哪, 你們要忍耐直到主來. 看哪, 農夫忍耐等候地裡寶貴的出產, 直到得了秋雨春雨. 你們也當忍耐, 堅固你們的心. 因為主來的日子近了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 5:10-11 </string>
		<key>en</key>
		<string>Take, my brethren, the prophets, who have spoken in the name of the Lord, for an example of suffering affliction, and of patience. Behold, we count them happy which endure. Ye have heard of the patience of Job, and have seen the end of the Lord; that the Lord is very pitiful, and of tender mercy.</string>
		<key>zh_TW</key>
		<string>弟兄們, 你們要把那先前奉主名說話的眾先知, 當作能受苦能忍耐的榜樣. 那先前忍耐的人, 我們稱他們是有福的, 你們聽見過約伯的忍耐, 也知道主給他的結局, 明顯主是滿有憐憫, 大有慈悲.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 2:20 </string>
		<key>en</key>
		<string>For what glory is it, if, when ye be buffeted for your faults, ye shall take it patiently? but if, when ye do well, and suffer for it, ye take it patiently, this is acceptable with God.</string>
		<key>zh_TW</key>
		<string>你們若因犯罪受責打, 能忍耐, 有甚麼可誇的呢. 但你們若因行善受苦, 若能忍耐, 這在神看是可喜愛的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 13:10 </string>
		<key>en</key>
		<string>He that leadeth into captivity shall go into captivity: he that killeth with the sword must be killed with the sword. Here is the patience and the faith of the saints.</string>
		<key>zh_TW</key>
		<string>擄掠人的必被擄掠. 用刀殺人的, 必被刀殺. 聖徒的忍耐和信心, 就是在此.</string>
	</dict>
</array>
</plist>
