<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>詩篇 23:4 </string>
		<key>en</key>
		<string>Yea, though I walk through the valley of the shadow of death, I will fear no evil: for thou art with me; thy rod and thy staff they comfort me.</string>
		<key>zh_TW</key>
		<string>我雖然行過死陰的幽谷, 也不怕遭害. 因為你與我同在. 你的杖, 你的竿, 都安慰我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 86:17 </string>
		<key>en</key>
		<string>Shew me a token for good; that they which hate me may see it, and be ashamed: because thou, LORD, hast holpen me, and comforted me.</string>
		<key>zh_TW</key>
		<string>求你向我顯出恩待我的憑據, 叫恨我的人看見, 便羞愧, 因為你耶和華幫助我, 安慰我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇94:19 </string>
		<key>en</key>
		<string>In the multitude of my thoughts within me thy comforts delight my soul.</string>
		<key>zh_TW</key>
		<string>我心裡多憂多疑, 你安慰我, 就使我歡樂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 5:4 </string>
		<key>en</key>
		<string>Blessed are they that mourn: for they shall be comforted.</string>
		<key>zh_TW</key>
		<string>哀慟的人有福了, 因為他們必得安慰.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 1:4 </string>
		<key>en</key>
		<string>Who comforteth us in all our tribulation, that we may be able to comfort them which are in any trouble, by the comfort wherewith we ourselves are comforted of God.</string>
		<key>zh_TW</key>
		<string>我們在一切患難中, 他就安慰我們, 叫我們能用神所賜的安慰, 去安慰那遭各樣患難的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 1:5-6 </string>
		<key>en</key>
		<string>For as the sufferings of Christ abound in us, so our consolation also aboundeth by Christ. And whether we be afflicted, it is for your consolation and salvation, which is effectual in the enduring of the same sufferings which we also suffer: or whether we be comforted, it is for your consolation and salvation.</string>
		<key>zh_TW</key>
		<string>我們既多受基督的苦楚, 就靠基督多得安慰. 我們受患難呢, 是為叫你們得安慰得拯救. 我們得安慰呢, 也是為叫你們得安慰. 這安慰能叫你們忍受我們所受的那樣苦楚.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦後書 2:16-17 </string>
		<key>en</key>
		<string>Now our Lord Jesus Christ himself, and God, even our Father, which hath loved us, and hath given us everlasting consolation and good hope through grace, Comfort your hearts, and stablish you in every good word and work.</string>
		<key>zh_TW</key>
		<string>但願我們主耶穌基督, 和那愛我們, 開恩將永遠的安慰, 並美好的盼望, 賜給我們的父神, 安慰你們的心, 並且在一切善行善言上, 堅固你們.</string>
	</dict>
</array>
</plist>
