<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>出埃及記 34:7 </string>
		<key>en</key>
		<string>Keeping mercy for thousands, forgiving iniquity and transgression and sin, and that will by no means clear the guilty; visiting the iniquity of the fathers upon the children, and upon the children's children, unto the third and to the fourth generation.</string>
		<key>zh_TW</key>
		<string>為千萬人存留慈愛, 赦免罪孽, 過犯, 和罪惡, 萬不以有罪的為無罪, 必追討他的罪, 自父及子, 直到三, 四代.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>利未記 5:1 </string>
		<key>en</key>
		<string>And if a soul sin, and hear the voice of swearing, and is a witness, whether he hath seen or known of it; if he do not utter it, then he shall bear his iniquity.</string>
		<key>zh_TW</key>
		<string>若有人聽見發誓的聲音 ((或作若有人聽見叫人發誓的聲音)), 他本是見證, 卻不把所看見的, 所知道的說出來, 這就是罪, 他要擔當他的罪孽.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>民數記 14:18 </string>
		<key>en</key>
		<string>The LORD is longsuffering, and of great mercy, forgiving iniquity and transgression, and by no means clearing the guilty, visiting the iniquity of the fathers upon the children unto the third and fourth generation.</string>
		<key>zh_TW</key>
		<string>耶和華不輕易發怒, 並有豐盛的慈愛, 赦免罪孽和過犯. 萬不以有罪的為無罪, 必追討他的罪, 自父及子, 直到三, 四代.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 32:2 </string>
		<key>en</key>
		<string>Blessed is the man unto whom the LORD imputeth not iniquity, and in whose spirit there is no guile.</string>
		<key>zh_TW</key>
		<string>凡心裡沒有詭詐, 耶和華不算為有罪的, 這人是有福的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 38:18 </string>
		<key>en</key>
		<string>For I will declare mine iniquity; I will be sorry for my sin.</string>
		<key>zh_TW</key>
		<string>我要承認我的罪孽. 我要因我的罪憂愁.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 13:6 </string>
		<key>en</key>
		<string>Righteousness keepeth him that is upright in the way: but wickedness overthroweth the sinner.</string>
		<key>zh_TW</key>
		<string>行為正直的, 有公義保守. 犯罪的被邪惡傾覆.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 21:4 </string>
		<key>en</key>
		<string>An high look, and a proud heart, and the plowing of the wicked, is sin.</string>
		<key>zh_TW</key>
		<string>惡人發達, 眼高心傲, 這乃是罪. ((發達原文是燈))</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 24:9 </string>
		<key>en</key>
		<string>The thought of foolishness is sin: and the scorner is an abomination to men.</string>
		<key>zh_TW</key>
		<string>愚妄人的思念, 乃是罪惡. 褻慢者為人所憎惡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 28:24 </string>
		<key>en</key>
		<string>Whoso robbeth his father or his mother, and saith, It is no transgression; the same is the companion of a destroyer.</string>
		<key>zh_TW</key>
		<string>偷竊父母的, 說, 這不是罪. 此人就是與強盜同類.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>傳道書 7:20 </string>
		<key>en</key>
		<string>For there is not a just man upon earth, that doeth good, and sinneth not.</string>
		<key>zh_TW</key>
		<string>時常行善而不犯罪的義人, 世上實在沒有.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 1:28 </string>
		<key>en</key>
		<string>And the destruction of the transgressors and of the sinners shall be together, and they that forsake the LORD shall be consumed.</string>
		<key>zh_TW</key>
		<string>但悖逆的, 和犯罪的, 必一同敗亡, 離棄耶和華的, 必致消滅.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 59:4 </string>
		<key>en</key>
		<string>None calleth for justice, nor any pleadeth for truth: they trust in vanity, and speak lies; they conceive mischief, and bring forth iniquity.</string>
		<key>zh_TW</key>
		<string>無一人按公義告狀, 無一人憑誠實辨白. 都倚靠虛妄, 說謊言. 所懷的是毒害, 所生的是罪孽.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以西結書 18:4 </string>
		<key>en</key>
		<string>Behold, all souls are mine; as the soul of the father, so also the soul of the son is mine: the soul that sinneth, it shall die.</string>
		<key>zh_TW</key>
		<string>看哪, 世人都是屬我的. 為父的怎樣屬我, 為子的也照樣屬我. 犯罪的, 他必死亡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以西結書 18:20 </string>
		<key>en</key>
		<string>The soul that sinneth, it shall die. The son shall not bear the iniquity of the father, neither shall the father bear the iniquity of the son: the righteousness of the righteous shall be upon him, and the wickedness of the wicked shall be upon him.</string>
		<key>zh_TW</key>
		<string>惟有犯罪的, 他必死亡. 兒子必不擔當父親的罪孽, 父親也不擔當兒子的罪孽. 義人的善果必歸自己, 惡人的惡報也必歸自己.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>那鴻書 1:3 </string>
		<key>en</key>
		<string>The LORD is slow to anger, and great in power, and will not at all acquit the wicked: the LORD hath his way in the whirlwind and in the storm, and the clouds are the dust of his feet.</string>
		<key>zh_TW</key>
		<string>耶和華不輕易發怒, 大有能力, 萬不以有罪的為無罪. 他乘旋風和暴風而來, 雲彩為他腳下的塵土.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 12:7 </string>
		<key>en</key>
		<string>But if ye had known what this meaneth, I will have mercy, and not sacrifice, ye would not have condemned the guiltless.</string>
		<key>zh_TW</key>
		<string>[我喜愛憐恤, 不喜愛祭祀.] 你們若明白這話的意思, 就不將無罪的, 當作有罪的了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 6:32 </string>
		<key>en</key>
		<string>For if ye love them which love you, what thank have ye? for sinners also love those that love them.</string>
		<key>zh_TW</key>
		<string>你們若單愛那愛你們的人, 有甚麼可酬謝的呢. 就是罪人也愛那愛他們的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 6:33 </string>
		<key>en</key>
		<string>And if ye do good to them which do good to you, what thank have ye? for sinners also do even the same.</string>
		<key>zh_TW</key>
		<string>你們若善待那善待你們的人, 有甚麼可酬謝的呢. 就是罪人也是這樣行.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 6:34 </string>
		<key>en</key>
		<string>And if ye lend to them of whom ye hope to receive, what thank have ye? for sinners also lend to sinners, to receive as much again.</string>
		<key>zh_TW</key>
		<string>你們若借給人, 指望從他收回, 有甚麼可酬謝的呢. 就是罪人也借給罪人, 要如數收回.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 8:34 </string>
		<key>en</key>
		<string>Jesus answered them, Verily, verily, I say unto you, Whosoever committeth sin is the servant of sin.</string>
		<key>zh_TW</key>
		<string>耶穌回答說, 我實實在在的告訴你們. 所有犯罪的, 就是罪的奴僕.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:20 </string>
		<key>en</key>
		<string>Moreover the law entered, that the offence might abound. But where sin abounded, grace did much more abound:</string>
		<key>zh_TW</key>
		<string>律法本是外添的, 叫過犯顯多. 只是罪在那裡顯多, 恩典就更顯多了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 7:23 </string>
		<key>en</key>
		<string>But I see another law in my members, warring against the law of my mind, and bringing me into captivity to the law of sin which is in my members.</string>
		<key>zh_TW</key>
		<string>但我覺得肢體中另有個律, 和我心中的律交戰, 把我擄去叫我附從那肢體中犯罪的律.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 14:23 </string>
		<key>en</key>
		<string>And he that doubteth is damned if he eat, because he eateth not of faith: for whatsoever is not of faith is sin.</string>
		<key>zh_TW</key>
		<string>若有疑心而吃的, 就必有罪. 因為他吃, 不是出於信心. 凡不出於信心的都是罪.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 13:2 </string>
		<key>en</key>
		<string>I told you before, and foretell you, as if I were present, the second time; and being absent now I write to them which heretofore have sinned, and to all other, that, if I come again, I will not spare:</string>
		<key>zh_TW</key>
		<string>我從前說過, 如今不在你們那裡又說, 正如我第二次見你們的時候所說的一樣, 就是對那犯罪的, 和其餘的人說, 我若再來必不寬容.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 15:56 </string>
		<key>en</key>
		<string>The sting of death is sin; and the strength of sin is the law.</string>
		<key>zh_TW</key>
		<string>死的毒鉤就是罪. 罪的權勢就是律法.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>加拉太書 2:17 </string>
		<key>en</key>
		<string>But if, while we seek to be justified by Christ, we ourselves also are found sinners, is therefore Christ the minister of sin? God forbid.</string>
		<key>zh_TW</key>
		<string>我們若求在基督裡稱義, 卻仍舊是罪人, 難道基督是叫人犯罪的麼. 斷乎不是.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 1:9 </string>
		<key>en</key>
		<string>Knowing this, that the law is not made for a righteous man, but for the lawless and disobedient, for the ungodly and for sinners, for unholy and profane, for murderers of fathers and murderers of mothers, for manslayers,</string>
		<key>zh_TW</key>
		<string>因為律法不是為義人設立的, 乃是為不法和不服的, 不虔誠和犯罪的, 不聖潔和戀世俗的, 弒父母和殺人的,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 1:15 </string>
		<key>en</key>
		<string>This is a faithful saying, and worthy of all acceptation, that Christ Jesus came into the world to save sinners; of whom I am chief.</string>
		<key>zh_TW</key>
		<string>基督耶穌降世, 為要拯救罪人. 這話是可信的, 是十分可佩服的. 在罪人中我個是罪魁.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 5:20 </string>
		<key>en</key>
		<string>Them that sin rebuke before all, that others also may fear.</string>
		<key>zh_TW</key>
		<string>犯罪的人, 當在眾人面前責備他, 叫其餘的人也可以懼怕.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 4:8 </string>
		<key>en</key>
		<string>Draw nigh to God, and he will draw nigh to you. Cleanse your hands, ye sinners; and purify your hearts, ye double minded.</string>
		<key>zh_TW</key>
		<string>你們親近神, 神就必親近你們. 有罪的人哪, 要潔淨你們的手. 心懷二意的人哪, 要清潔你們的心.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 5:16 </string>
		<key>en</key>
		<string>Confess your faults one to another, and pray one for another, that ye may be healed. The effectual fervent prayer of a righteous man availeth much.</string>
		<key>zh_TW</key>
		<string>所以你們要彼此認罪, 互相代求, 使你們可以得醫治. 義人祈禱所發的力量, 是大有功效的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 4:18 </string>
		<key>en</key>
		<string>And if the righteous scarcely be saved, where shall the ungodly and the sinner appear?</string>
		<key>zh_TW</key>
		<string>若是義人僅僅得救, 那不虔敬和犯罪的人, 將有何地可站呢.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 3:4 </string>
		<key>en</key>
		<string>Whosoever committeth sin transgresseth also the law: for sin is the transgression of the law.</string>
		<key>zh_TW</key>
		<string>凡犯罪的, 就是違背律法. 違背律法就是罪.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 3:6 </string>
		<key>en</key>
		<string>Whosoever abideth in him sinneth not: whosoever sinneth hath not seen him, neither known him.</string>
		<key>zh_TW</key>
		<string>凡住在他裡面的, 就不犯罪. 凡犯罪的, 是未曾看見他, 也未曾認識他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 3:8 </string>
		<key>en</key>
		<string>He that committeth sin is of the devil; for the devil sinneth from the beginning. For this purpose the Son of God was manifested, that he might destroy the works of the devil.</string>
		<key>zh_TW</key>
		<string>犯罪的是屬魔鬼, 因為魔鬼從起初就犯罪. 神的兒子顯現出來, 為要除滅魔鬼的作為.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 5:17 </string>
		<key>en</key>
		<string>All unrighteousness is sin: and there is a sin not unto death.</string>
		<key>zh_TW</key>
		<string>凡不義的事都是罪. 也有不至於死的罪.</string>
	</dict>
</array>
</plist>
