<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>列王紀下 20:5 </string>
		<key>en</key>
		<string>Turn again, and tell Hezekiah the captain of my people, Thus saith the LORD, the God of David thy father, I have heard thy prayer, I have seen thy tears: behold, I will heal thee: on the third day thou shalt go up unto the house of the LORD.</string>
		<key>zh_TW</key>
		<string>你回去, 告訴我民的君希西家, 說, 耶和華你祖大衛的神, 如此說, 我聽見了你的禱告, 看見了你的眼淚. 我必醫治你, 到第三日, 你必上到耶和華的殿.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約伯記 22:27 </string>
		<key>en</key>
		<string>Thou shalt make thy prayer unto him, and he shall hear thee, and thou shalt pay thy vows.</string>
		<key>zh_TW</key>
		<string>你要禱告他, 他就聽你. 你也要還你的願.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 50:15 </string>
		<key>en</key>
		<string>And call upon me in the day of trouble: I will deliver thee, and thou shalt glorify me.</string>
		<key>zh_TW</key>
		<string>並要在患難之日求告我, 我必搭救你. 你也要榮耀我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 66:20 </string>
		<key>en</key>
		<string>Blessed be God, which hath not turned away my prayer, nor his mercy from me.</string>
		<key>zh_TW</key>
		<string>神是應當稱頌的. 祂並沒有推卻我的禱告, 也沒有叫祂的慈愛離開我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 102:17 </string>
		<key>en</key>
		<string>He will regard the prayer of the destitute, and not despise their prayer.</string>
		<key>zh_TW</key>
		<string>他垂聽窮人的禱告, 並不藐視他們的祈求.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 15:8 </string>
		<key>en</key>
		<string>The sacrifice of the wicked is an abomination to the LORD: but the prayer of the upright is his delight.</string>
		<key>zh_TW</key>
		<string>惡人獻祭, 為耶和華所憎惡. 正直人祈禱, 為他所喜悅.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 15:29 </string>
		<key>en</key>
		<string>The LORD is far from the wicked: but he heareth the prayer of the righteous.</string>
		<key>zh_TW</key>
		<string>耶和華遠離惡人. 卻聽義人的禱告.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 30:19 </string>
		<key>en</key>
		<string>For the people shall dwell in Zion at Jerusalem: thou shalt weep no more: he will be very gracious unto thee at the voice of thy cry; when he shall hear it, he will answer thee.</string>
		<key>zh_TW</key>
		<string>百姓必在錫安在耶路撒冷居住. 你不再哭泣. 主必因你哀求的聲音施恩給你. 他聽見的時候, 就必應允你.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 5:44 </string>
		<key>en</key>
		<string>But I say unto you, Love your enemies, bless them that curse you, do good to them that hate you, and pray for them which despitefully use you, and persecute you;</string>
		<key>zh_TW</key>
		<string>只是我告訴你們, 要愛你們的仇敵. 為那逼迫你們的禱告.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 7:7 </string>
		<key>en</key>
		<string>Ask, and it shall be given you; seek, and ye shall find; knock, and it shall be opened unto you:</string>
		<key>zh_TW</key>
		<string>你們祈求, 就給你們. 尋找, 就尋見. 叩門, 就給你們開門.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 21:22 </string>
		<key>en</key>
		<string>And all things, whatsoever ye shall ask in prayer, believing, ye shall receive.</string>
		<key>zh_TW</key>
		<string>你們禱告, 無論求甚麼, 只要信, 就必得著.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬可福音 11:24 </string>
		<key>en</key>
		<string>Therefore I say unto you, What things soever ye desire, when ye pray, believe that ye receive them, and ye shall have them.</string>
		<key>zh_TW</key>
		<string>所以我告訴你們, 凡你們禱告祈求的, 無論是甚麼, 只要信是得著的, 就必得著.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬可福音 14:38 </string>
		<key>en</key>
		<string>Watch ye and pray, lest ye enter into temptation. The spirit truly is ready, but the flesh is weak.</string>
		<key>zh_TW</key>
		<string>總要儆醒禱告, 免得入了迷惑. 你們心靈固然願意, 肉體卻軟弱了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 14:13 </string>
		<key>en</key>
		<string>And whatsoever ye shall ask in my name, that will I do, that the Father may be glorified in the Son.</string>
		<key>zh_TW</key>
		<string>你們奉我的名, 無論求甚麼, 我必成就, 叫父因子得榮耀.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:26 </string>
		<key>en</key>
		<string>Likewise the Spirit also helpeth our infirmities: for we know not what we should pray for as we ought: but the Spirit itself maketh intercession for us with groanings which cannot be uttered.</string>
		<key>zh_TW</key>
		<string>況且我們的軟弱有聖靈幫助, 我們本不曉得當怎樣禱告, 只是聖靈親自用說不出來的歎息, 替我們禱告.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 12:12 </string>
		<key>en</key>
		<string>Rejoicing in hope; patient in tribulation; continuing instant in prayer;</string>
		<key>zh_TW</key>
		<string>在指望中要喜樂. 在患難中要忍耐. 禱告要恆切.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 6:18 </string>
		<key>en</key>
		<string>Praying always with all prayer and supplication in the Spirit, and watching thereunto with all perseverance and supplication for all saints;</string>
		<key>zh_TW</key>
		<string>靠著聖靈, 隨時多方禱告祈求, 並要在此儆醒不倦, 為眾聖徒祈求,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>腓利比書 4:6 </string>
		<key>en</key>
		<string>Be careful for nothing; but in every thing by prayer and supplication with thanksgiving let your requests be made known unto God.</string>
		<key>zh_TW</key>
		<string>應當一無罣慮, 只要凡事藉著禱告, 祈求, 和感謝, 將你們所要的告訴神.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 4:2 </string>
		<key>en</key>
		<string>Continue in prayer, and watch in the same with thanksgiving;</string>
		<key>zh_TW</key>
		<string>你們要恆切禱告, 在此儆醒感恩.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 4:3 </string>
		<key>en</key>
		<string>Ye ask, and receive not, because ye ask amiss, that ye may consume it upon your lusts.</string>
		<key>zh_TW</key>
		<string>你們求也得不著, 是因為你們妄求, 要浪費在你們的宴樂中.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 5:13 </string>
		<key>en</key>
		<string>Is any among you afflicted? let him pray. Is any merry? let him sing psalms.</string>
		<key>zh_TW</key>
		<string>你們中間有受苦的呢, 他就該禱告. 有喜樂的呢, 他就該歌頌.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 5:16 </string>
		<key>en</key>
		<string>Confess your faults one to another, and pray one for another, that ye may be healed. The effectual fervent prayer of a righteous man availeth much.</string>
		<key>zh_TW</key>
		<string>所以你們要彼此認罪, 互相代求, 使你們可以得醫治. 義人祈禱所發的力量, 是大有功效的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 5:14 </string>
		<key>en</key>
		<string>And this is the confidence that we have in him, that, if we ask any thing according to his will, he heareth us:</string>
		<key>zh_TW</key>
		<string>我們若照他的旨意求甚麼, 他就聽我們. 這是我們向他所存坦然無懼的心.</string>
	</dict>
</array>
</plist>
