<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>民數記 18:31 </string>
		<key>en</key>
		<string>And ye shall eat it in every place, ye and your households: for it is your reward for your service in the tabernacle of the congregation.</string>
		<key>zh_TW</key>
		<string>你們和你們家屬隨處可以吃. 這原是你們的賞賜, 是酬你們在會幕裡辦事的勞.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路得記 2:12 </string>
		<key>en</key>
		<string>The LORD recompense thy work, and a full reward be given thee of the LORD God of Israel, under whose wings thou art come to trust.</string>
		<key>zh_TW</key>
		<string>願耶和華照妳所行的賞賜妳. 妳來投靠耶和華以色列神的翅膀下, 願妳滿得祂的賞賜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒母耳記下 22:21 </string>
		<key>en</key>
		<string>The LORD rewarded me according to my righteousness: according to the cleanness of my hands hath he recompensed me.</string>
		<key>zh_TW</key>
		<string>耶和華按著我的公義報答我, 按著我手中的清潔賞賜我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>列王紀上 8:32 </string>
		<key>en</key>
		<string>Then hear thou in heaven, and do, and judge thy servants, condemning the wicked, to bring his way upon his head; and justifying the righteous, to give him according to his righteousness.</string>
		<key>zh_TW</key>
		<string>求你在天上垂聽, 判斷你的僕人, 定惡人有罪, 照他所行的報應在他頭上. 定義人有理, 照他的義賞賜他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 127:3 </string>
		<key>en</key>
		<string>Lo, children are an heritage of the LORD: and the fruit of the womb is his reward.</string>
		<key>zh_TW</key>
		<string>兒女是耶和華所賜的產業. 所懷的胎是他所給的賞賜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 22:4 </string>
		<key>en</key>
		<string>By humility and the fear of the LORD are riches, and honour, and life.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華心存謙卑, 就得富有, 尊榮, 生命, 為賞賜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 49:4 </string>
		<key>en</key>
		<string>Then I said, I have laboured in vain, I have spent my strength for nought, and in vain: yet surely my judgment is with the LORD, and my work with my God.</string>
		<key>zh_TW</key>
		<string>我卻說, 我勞碌是徒然, 我盡力是虛無虛空, 然而我當得的理必在耶和華那裡, 我的賞賜必在我的神那裡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 6:1 </string>
		<key>en</key>
		<string>Take heed that ye do not your alms before men, to be seen of them: otherwise ye have no reward of your Father which is in heaven.</string>
		<key>zh_TW</key>
		<string>你們要小心, 不可將善事行在人的面前, 故意叫他們看見. 若是這樣, 就不能得你們天父的賞賜了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 6:35 </string>
		<key>en</key>
		<string>But love ye your enemies, and do good, and lend, hoping for nothing again; and your reward shall be great, and ye shall be the children of the Highest: for he is kind unto the unthankful and to the evil.</string>
		<key>zh_TW</key>
		<string>你們倒要愛仇敵, 也要善待他們, 並要借給人不指望償還. 你們的賞賜就必大了, 你們也必作至高者的兒子. 因為他恩待那忘恩的和作惡的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 3:8 </string>
		<key>en</key>
		<string>Now he that planteth and he that watereth are one: and every man shall receive his own reward according to his own labour.</string>
		<key>zh_TW</key>
		<string>栽種的和澆灌的都是一樣. 但將來各人要照自己的工夫, 得自己的賞賜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 3:14 </string>
		<key>en</key>
		<string>If any man's work abide which he hath built thereupon, he shall receive a reward.</string>
		<key>zh_TW</key>
		<string>人在那根基上所建造的工程, 若存得住, 他就要得賞賜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 9:18 </string>
		<key>en</key>
		<string>What is my reward then? Verily that, when I preach the gospel, I may make the gospel of Christ without charge, that I abuse not my power in the gospel.</string>
		<key>zh_TW</key>
		<string>既是這樣, 我的賞賜是甚麼呢. 就是我傳福音的時候, 叫人不花錢得福音, 免得用盡我傳福音的權柄.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 6:8 </string>
		<key>en</key>
		<string>Knowing that whatsoever good thing any man doeth, the same shall he receive of the Lord, whether he be bond or free.</string>
		<key>zh_TW</key>
		<string>因為曉得各人所行的善事, 不論是為奴的, 是自主的, 都必按所行的得主的賞賜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 11:6 </string>
		<key>en</key>
		<string>But without faith it is impossible to please him: for he that cometh to God must believe that he is, and that he is a rewarder of them that diligently seek him.</string>
		<key>zh_TW</key>
		<string>人非有信就不能得神的喜悅. 因為到神面前來的人, 必須信有神, 且信他賞賜那尋求他的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 1:17 </string>
		<key>en</key>
		<string>Every good gift and every perfect gift is from above, and cometh down from the Father of lights, with whom is no variableness, neither shadow of turning.</string>
		<key>zh_TW</key>
		<string>各樣美善的恩賜, 和各樣全備的賞賜, 都是從上頭來的. 從眾光之父那裡降下來的. 在他並沒有改變, 也沒有轉動的影兒.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰貳書 1:8 </string>
		<key>en</key>
		<string>Look to yourselves, that we lose not those things which we have wrought, but that we receive a full reward.</string>
		<key>zh_TW</key>
		<string>你們要小心, 不要失去你們 ((有古卷作我們)) 所作的工, 乃要得著滿足的賞賜.</string>
	</dict>
</array>
</plist>
