<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>馬太福音 19:29 </string>
		<key>en</key>
		<string>And every one that hath forsaken houses, or brethren, or sisters, or father, or mother, or wife, or children, or lands, for my name's sake, shall receive an hundredfold, and shall inherit everlasting life.</string>
		<key>zh_TW</key>
		<string>凡為我的名撇下房屋, 或是弟兄, 姐妹, 父親, 母親, ((有古卷添妻子)), 兒女, 田地的, 必要得著百倍, 並且承受永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬可福音 9:43-47 </string>
		<key>en</key>
		<string>And if thy hand offend thee, cut it off: it is better for thee to enter into life maimed, than having two hands to go into hell, into the fire that never shall be quenched: Where their worm dieth not, and the fire is not quenched. And if thy foot offend thee, cut it off: it is better for thee to enter halt into life, than having two feet to be cast into hell, into the fire that never shall be quenched: Where their worm dieth not, and the fire is not quenched. And if thine eye offend thee, pluck it out: it is better for thee to enter into the kingdom of God with one eye, than having two eyes to be cast into hell fire:</string>
		<key>zh_TW</key>
		<string>倘若你一隻手叫你跌倒, 就把他砍下來. 你缺了肢體進入永生, 強如有兩隻手落到地獄, 入那不滅的火裡去. 倘若你一隻腳叫你跌倒, 就把他砍下來. 你瘸腿進入永生, 強如有兩隻腳被丟在地獄裡. 倘若你一隻眼叫你跌倒, 就去掉他. 你只有一隻眼進入神的國, 強如有兩隻眼被丟在地獄裡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 3:16 </string>
		<key>en</key>
		<string>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</string>
		<key>zh_TW</key>
		<string>神愛世人, 甚至將他的獨生子賜給他們, 叫一切信祂的, 不至滅亡, 反得永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 3:36 </string>
		<key>en</key>
		<string>He that believeth on the Son hath everlasting life: and he that believeth not the Son shall not see life; but the wrath of God abideth on him.</string>
		<key>zh_TW</key>
		<string>信子的人有永生. 不信子的人得不著永生, ((原文作不得見永生))神的震怒常在他身上.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 4:14 </string>
		<key>en</key>
		<string>But whosoever drinketh of the water that I shall give him shall never thirst; but the water that I shall give him shall be in him a well of water springing up into everlasting life.</string>
		<key>zh_TW</key>
		<string>人若喝我所賜的水就永遠不渴. 我所賜的水, 要在他裡頭成為泉源, 直湧到永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 5:24 </string>
		<key>en</key>
		<string>Verily, verily, I say unto you, He that heareth my word, and believeth on him that sent me, hath everlasting life, and shall not come into condemnation; but is passed from death unto life.</string>
		<key>zh_TW</key>
		<string>我實實在在的告訴你們, 那聽我話, 又信差我來者的, 就有永生, 不至於定罪, 是已經出死入生了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:27 </string>
		<key>en</key>
		<string>Labour not for the meat which perisheth, but for that meat which endureth unto everlasting life, which the Son of man shall give unto you: for him hath God the Father sealed.</string>
		<key>zh_TW</key>
		<string>不要為那必壞的食物勞力, 要為那存到永生的食物勞力, 就是人子要賜給你們的. 因為人子是父神所印證的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:40 </string>
		<key>en</key>
		<string>And this is the will of him that sent me, that every one which seeth the Son, and believeth on him, may have everlasting life: and I will raise him up at the last day.</string>
		<key>zh_TW</key>
		<string>因為我父的意思, 是叫一切見子而信的人得永生. 並且在末日我要叫他復活.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:47-48 </string>
		<key>en</key>
		<string>Verily, verily, I say unto you, He that believeth on me hath everlasting life. I am that bread of life.</string>
		<key>zh_TW</key>
		<string>我實實在在的告訴你們, 信的人有永生. 我就是生命的糧.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:54 </string>
		<key>en</key>
		<string>Whoso eateth my flesh, and drinketh my blood, hath eternal life; and I will raise him up at the last day.</string>
		<key>zh_TW</key>
		<string>吃我肉, 喝我血的人就有永生. 在末日我要叫他復活.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 10:28 </string>
		<key>en</key>
		<string>And I give unto them eternal life; and they shall never perish, neither shall any man pluck them out of my hand.</string>
		<key>zh_TW</key>
		<string>我又賜給他們永生. 他們永不滅亡, 誰也不能從我手裡把他們奪去.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 12:25 </string>
		<key>en</key>
		<string>He that loveth his life shall lose it; and he that hateth his life in this world shall keep it unto life eternal.</string>
		<key>zh_TW</key>
		<string>愛惜自己生命的, 就失喪生命. 在這世上恨惡自己生命的, 就要保守生命到永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 17:3 </string>
		<key>en</key>
		<string>And this is life eternal, that they might know thee the only true God, and Jesus Christ, whom thou hast sent.</string>
		<key>zh_TW</key>
		<string>認識你獨一的真神, 並且認識你所差來的耶穌基督, 這就是永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 2:7 </string>
		<key>en</key>
		<string>To them who by patient continuance in well doing seek for glory and honour and immortality, eternal life:</string>
		<key>zh_TW</key>
		<string>凡恆心行善尋求榮耀尊貴, 和不能朽壞之福的, 就以永生報應他們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:21 </string>
		<key>en</key>
		<string>That as sin hath reigned unto death, even so might grace reign through righteousness unto eternal life by Jesus Christ our Lord.</string>
		<key>zh_TW</key>
		<string>就如罪作王叫人死, 照樣恩典也藉著義作王, 叫人因我們的主耶穌基督得永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 6:22 </string>
		<key>en</key>
		<string>But now being made free from sin, and become servants to God, ye have your fruit unto holiness, and the end everlasting life.</string>
		<key>zh_TW</key>
		<string>但現今你們既從罪裡得了釋放, 作了神的奴僕, 就有成聖的果子, 那結局就是永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 6:23 </string>
		<key>en</key>
		<string>For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.</string>
		<key>zh_TW</key>
		<string>因為罪的工價乃是死. 惟有神的恩賜, 在我們的主基督耶穌裡乃是永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>加拉太書 6:8 </string>
		<key>en</key>
		<string>For he that soweth to his flesh shall of the flesh reap corruption; but he that soweth to the Spirit shall of the Spirit reap life everlasting.</string>
		<key>zh_TW</key>
		<string>順著情慾撒種的, 必從情慾收敗壞 順著聖靈撒種的, 必從聖靈收永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 3:15 </string>
		<key>en</key>
		<string>But if I tarry long, that thou mayest know how thou oughtest to behave thyself in the house of God, which is the church of the living God, the pillar and ground of the truth.</string>
		<key>zh_TW</key>
		<string>倘若我耽延日久, 你也可以知道在神的家中當怎樣行. 這家就是永生神的教會, 真理的柱石和根基.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 2:25 </string>
		<key>en</key>
		<string>And this is the promise that he hath promised us, even eternal life.</string>
		<key>zh_TW</key>
		<string>主所應許我們的就是永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 3:15 </string>
		<key>en</key>
		<string>Whosoever hateth his brother is a murderer: and ye know that no murderer hath eternal life abiding in him.</string>
		<key>zh_TW</key>
		<string>凡恨他弟兄的, 就是殺人的. 你們曉得凡殺人的, 沒有永生存在他裡面.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 5:11-13 </string>
		<key>en</key>
		<string>And this is the record, that God hath given to us eternal life, and this life is in his Son. He that hath the Son hath life; and he that hath not the Son of God hath not life. These things have I written unto you that believe on the name of the Son of God; that ye may know that ye have eternal life, and that ye may believe on the name of the Son of God.</string>
		<key>zh_TW</key>
		<string>這見證, 就是神賜給我們永生, 這永生也是在他兒子裡面. 人有了神的兒子就有生命. 沒有神的兒子就沒有生命. 我將這些話寫給你們信奉神兒子之名的人, 要叫你們知道自己有永生</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 5:20 </string>
		<key>en</key>
		<string>And we know that the Son of God is come, and hath given us an understanding, that we may know him that is true, and we are in him that is true, even in his Son Jesus Christ. This is the true God, and eternal life.</string>
		<key>zh_TW</key>
		<string>我們也知道神的兒子已經來到, 且將智慧賜給我們, 使我們認識那位真實的, 我們也在那位真實的裡面, 就是在他兒子耶穌基督裡面. 這是真神, 也是永生.</string>
	</dict>
</array>
</plist>
