<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>馬太福音 3:2 </string>
		<key>en</key>
		<string>And saying, Repent ye: for the kingdom of heaven is at hand.</string>
		<key>zh_TW</key>
		<string>天國近了, 你們應當悔改.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 3:8 </string>
		<key>en</key>
		<string>Bring forth therefore fruits meet for repentance:</string>
		<key>zh_TW</key>
		<string>你們要結出果子來, 與悔改的心相稱.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬可福音 1:15 </string>
		<key>en</key>
		<string>And saying, The time is fulfilled, and the kingdom of God is at hand: repent ye, and believe the gospel.</string>
		<key>zh_TW</key>
		<string>說, 日期滿了, 神的國近了. 你們當悔改, 信福音.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 5:32 </string>
		<key>en</key>
		<string>I came not to call the righteous, but sinners to repentance.</string>
		<key>zh_TW</key>
		<string>我來本不是召義人悔改. 乃是召罪人悔改.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 13:3 </string>
		<key>en</key>
		<string>I tell you, Nay: but, except ye repent, ye shall all likewise perish.</string>
		<key>zh_TW</key>
		<string>我告訴你們, 不是的. 你們若不悔改, 都要如此滅亡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 15:7 </string>
		<key>en</key>
		<string>I say unto you, that likewise joy shall be in heaven over one sinner that repenteth, more than over ninety and nine just persons, which need no repentance.</string>
		<key>zh_TW</key>
		<string>我告訴你們, 一個罪人悔改, 在天上也要這樣為他歡喜, 較比為九十九個不用悔改的義人, 歡喜更大.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 15:10 </string>
		<key>en</key>
		<string>Likewise, I say unto you, there is joy in the presence of the angels of God over one sinner that repenteth.</string>
		<key>zh_TW</key>
		<string>我告訴你們, 一個罪人悔改, 在神的使者面前, 也是這樣為他歡喜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 2:38 </string>
		<key>en</key>
		<string>Then Peter said unto them, Repent, and be baptized every one of you in the name of Jesus Christ for the remission of sins, and ye shall receive the gift of the Holy Ghost.</string>
		<key>zh_TW</key>
		<string>彼得說, 你們各人要悔改, 奉耶穌基督的名受洗, 叫你們的罪得赦, 就必領受所賜的聖靈.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 3:19 </string>
		<key>en</key>
		<string>Repent ye therefore, and be converted, that your sins may be blotted out, when the times of refreshing shall come from the presence of the Lord.</string>
		<key>zh_TW</key>
		<string>所以你們當悔改歸正, 使你們的罪得以塗抹, 這樣, 那安舒的日子, 就必從主面前來到.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 17:30 </string>
		<key>en</key>
		<string>And the times of this ignorance God winked at; but now commandeth all men every where to repent:</string>
		<key>zh_TW</key>
		<string>世人蒙昧無知的時後, 神並不監察, 如今卻吩咐各處的人都要悔改.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 2:25 </string>
		<key>en</key>
		<string>In meekness instructing those that oppose themselves; if God peradventure will give them repentance to the acknowledging of the truth;</string>
		<key>zh_TW</key>
		<string>用溫柔勸戒那抵擋的人. 或者給他們悔改的心, 可以明白真道.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得後書 3:9 </string>
		<key>en</key>
		<string>The Lord is not slack concerning his promise, as some men count slackness; but is longsuffering to us-ward, not willing that any should perish, but that all should come to repentance.</string>
		<key>zh_TW</key>
		<string>主所應許的尚未成就, 有人以為他是耽延, 其實不是耽延,乃是寬容你們, 不願有一人沈淪, 乃願人人都悔改.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 2:5 </string>
		<key>en</key>
		<string>Remember therefore from whence thou art fallen, and repent, and do the first works; or else I will come unto thee quickly, and will remove thy candlestick out of his place, except thou repent.</string>
		<key>zh_TW</key>
		<string>所以應當回想你是從那裡墜落的, 並要悔改, 行起初所行的事. 你若不悔改, 我就臨到你那裡, 把你的燈臺從原處挪去.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 2:16 </string>
		<key>en</key>
		<string>Repent; or else I will come unto thee quickly, and will fight against them with the sword of my mouth.</string>
		<key>zh_TW</key>
		<string>所以你當悔改. 若不悔改, 我就快臨到你那裡, 用我口中的劍, 攻擊他們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 2:22 </string>
		<key>en</key>
		<string>Behold, I will cast her into a bed, and them that commit adultery with her into great tribulation, except they repent of their deeds.</string>
		<key>zh_TW</key>
		<string>看哪, 我要叫他病臥在床, 那些與他行淫的人, 若不悔改所行的, 我也要叫他們同受大患難.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 3:3 </string>
		<key>en</key>
		<string>Remember therefore how thou hast received and heard, and hold fast, and repent. If therefore thou shalt not watch, I will come on thee as a thief, and thou shalt not know what hour I will come upon thee.</string>
		<key>zh_TW</key>
		<string>所以要回想你是怎樣領受, 怎樣聽見的. 又要遵守, 並要悔改. 若不儆醒, 我必臨到你那裡如同賊一樣. 我幾時臨到, 你也決不能知道.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 3:19 </string>
		<key>en</key>
		<string>As many as I love, I rebuke and chasten: be zealous therefore, and repent.</string>
		<key>zh_TW</key>
		<string>凡我所疼愛的, 我就責備管教他. 所以你要發熱心, 也要悔改.</string>
	</dict>
</array>
</plist>
