<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>利未記 19:2 </string>
		<key>en</key>
		<string>Speak unto all the congregation of the children of Israel, and say unto them, Ye shall be holy: for I the LORD your God am holy.</string>
		<key>zh_TW</key>
		<string>你曉諭以色列全會眾說, 你們要聖潔, 因為我耶和華你們的神是聖潔的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>利未記 11:45 </string>
		<key>en</key>
		<string>For I am the LORD that bringeth you up out of the land of Egypt, to be your God: ye shall therefore be holy, for I am holy.</string>
		<key>zh_TW</key>
		<string>我是把你們從埃及地領出來的耶和華, 要作你們的神, 所以你們要聖潔, 因為我是聖潔的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 25:6 </string>
		<key>en</key>
		<string>Remember, O LORD, thy tender mercies and thy lovingkindnesses; for they have been ever of old.</string>
		<key>zh_TW</key>
		<string>耶和華阿, 求你記念你的憐憫和慈愛. 因為這是亙古以來所常有的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 25:10 </string>
		<key>en</key>
		<string>All the paths of the LORD are mercy and truth unto such as keep his covenant and his testimonies.</string>
		<key>zh_TW</key>
		<string>凡遵守他的約和他法度的人, 耶和華都以慈愛誠實待他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 31:21 </string>
		<key>en</key>
		<string>Blessed be the LORD: for he hath shewed me his marvellous kindness in a strong city.</string>
		<key>zh_TW</key>
		<string>耶和華是應當稱頌的. 因為他在堅固城裡, 向我施展奇妙的慈愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 32:10 </string>
		<key>en</key>
		<string>Many sorrows shall be to the wicked: but he that trusteth in the LORD, mercy shall compass him about.</string>
		<key>zh_TW</key>
		<string>惡人必多受苦楚. 惟獨倚靠耶和華的, 必有慈愛四面環繞他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 33:5 </string>
		<key>en</key>
		<string>He loveth righteousness and judgment: the earth is full of the goodness of the LORD.</string>
		<key>zh_TW</key>
		<string>祂喜愛仁義公平. 遍地滿了耶和華的慈愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 33:18 </string>
		<key>en</key>
		<string>Behold, the eye of the LORD is upon them that fear him, upon them that hope in his mercy;</string>
		<key>zh_TW</key>
		<string>耶和華的眼目, 看顧敬畏祂的人, 和仰望祂慈愛的人,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 36:5 </string>
		<key>en</key>
		<string>Thy mercy, O LORD, is in the heavens; and thy faithfulness reacheth unto the clouds.</string>
		<key>zh_TW</key>
		<string>耶和華阿, 你的慈愛, 上及諸天. 你的信實, 達到穹蒼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 36:7 </string>
		<key>en</key>
		<string>How excellent is thy lovingkindness, O God! therefore the children of men put their trust under the shadow of thy wings.</string>
		<key>zh_TW</key>
		<string>神阿, 你的慈愛, 何其寶貴. 世上投靠在你翅膀的蔭下.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 37:3 </string>
		<key>en</key>
		<string>Trust in the LORD, and do good; so shalt thou dwell in the land, and verily thou shalt be fed.</string>
		<key>zh_TW</key>
		<string>你當倚靠耶和華而行善. 住在地上, 以祂的信實為糧.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 62:12 </string>
		<key>en</key>
		<string>Also unto thee, O Lord, belongeth mercy: for thou renderest to every man according to his work.</string>
		<key>zh_TW</key>
		<string>主阿, 慈愛也是屬乎你. 因為你照著各人所行的報應他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 66:20 </string>
		<key>en</key>
		<string>Blessed be God, which hath not turned away my prayer, nor his mercy from me.</string>
		<key>zh_TW</key>
		<string>神是應當稱頌的. 祂並沒有推卻我的禱告, 也沒有叫祂的慈愛離開我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 86:5 </string>
		<key>en</key>
		<string>For thou, Lord, art good, and ready to forgive; and plenteous in mercy unto all them that call upon thee.</string>
		<key>zh_TW</key>
		<string>主阿, 你本為良善, 樂意饒恕人, 有豐盛的慈愛, 賜給凡求告你的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 86:13 </string>
		<key>en</key>
		<string>For great is thy mercy toward me: and thou hast delivered my soul from the lowest hell.</string>
		<key>zh_TW</key>
		<string>因為你向我發的慈愛是大的. 你救了我的靈魂, 免入極深的陰間.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 86:15 </string>
		<key>en</key>
		<string>But thou, O Lord, art a God full of compassion, and gracious, longsuffering, and plenteous in mercy and truth.</string>
		<key>zh_TW</key>
		<string>主阿, 你是有憐憫有恩典的神, 不輕易發怒, 並有豐盛的慈愛和誠實.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 89:14 </string>
		<key>en</key>
		<string>Justice and judgment are the habitation of thy throne: mercy and truth shall go before thy face.</string>
		<key>zh_TW</key>
		<string>公義和公平, 是你寶座的根基. 慈愛和誠實, 行在你前面.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 89:33 </string>
		<key>en</key>
		<string>Nevertheless my lovingkindness will I not utterly take from him, nor suffer my faithfulness to fail.</string>
		<key>zh_TW</key>
		<string>只是我必不將我的慈愛, 全然收回, 也必不叫我的信實廢棄.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 90:14 </string>
		<key>en</key>
		<string>O satisfy us early with thy mercy; that we may rejoice and be glad all our days.</string>
		<key>zh_TW</key>
		<string>求你使我們早早飽得你的慈愛, 好叫我們一生一世歡呼喜樂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 96:13 </string>
		<key>en</key>
		<string>Before the LORD: for he cometh, for he cometh to judge the earth: he shall judge the world with righteousness, and the people with his truth.</string>
		<key>zh_TW</key>
		<string>因為他來了. 他來要審判全地. 他要按公義審判世界, 按他的信實審判萬民.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 100:5 </string>
		<key>en</key>
		<string>For the LORD is good; his mercy is everlasting; and his truth endureth to all generations.</string>
		<key>zh_TW</key>
		<string>因為耶和華本為善, 他的慈愛, 存到永遠, 他的信實, 直到萬代.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 103:11 </string>
		<key>en</key>
		<string>For as the heaven is high above the earth, so great is his mercy toward them that fear him.</string>
		<key>zh_TW</key>
		<string>天離地何等的高, 他的慈愛向敬畏他的人, 也是何等的大.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 103:17 </string>
		<key>en</key>
		<string>But the mercy of the LORD is from everlasting to everlasting upon them that fear him, and his righteousness unto children's children;</string>
		<key>zh_TW</key>
		<string>但耶和華的慈愛, 歸於敬畏他的人, 從亙古到永遠. 他的公義, 也歸於子子孫孫.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 106:1 </string>
		<key>en</key>
		<string>Praise ye the LORD. O give thanks unto the LORD; for he is good: for his mercy endureth for ever.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華. 要稱謝耶和華, 因他本為善. 他的慈愛永遠長存.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 107:1 </string>
		<key>en</key>
		<string>O give thanks unto the LORD, for he is good: for his mercy endureth for ever.</string>
		<key>zh_TW</key>
		<string>你們要稱謝耶和華, 因他本為善. 他的慈愛, 永遠長存.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 115:1 </string>
		<key>en</key>
		<string>Not unto us, O LORD, not unto us, but unto thy name give glory, for thy mercy, and for thy truth's sake.</string>
		<key>zh_TW</key>
		<string>耶和華阿, 榮耀不要歸與我們, 不要歸與我們. 要因你的慈愛和誠實歸在你的名下.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 116:5 </string>
		<key>en</key>
		<string>Gracious is the LORD, and righteous; yea, our God is merciful.</string>
		<key>zh_TW</key>
		<string>耶和華有恩惠, 有公義. 我們的神以憐憫為懷.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 145:17 </string>
		<key>en</key>
		<string>The LORD is righteous in all his ways, and holy in all his works.</string>
		<key>zh_TW</key>
		<string>耶和華在他一切所行的, 無不公義. 在他一切所做的, 都有慈愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 147:11 </string>
		<key>en</key>
		<string>The LORD taketh pleasure in them that fear him, in those that hope in his mercy.</string>
		<key>zh_TW</key>
		<string>耶和華喜愛敬畏祂和盼望祂慈愛的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 14:22 </string>
		<key>en</key>
		<string>Do they not err that devise evil? but mercy and truth shall be to them that devise good.</string>
		<key>zh_TW</key>
		<string>謀惡的豈非走入迷途麼. 謀善的必得慈愛和誠實.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 1:9 </string>
		<key>en</key>
		<string>God is faithful, by whom ye were called unto the fellowship of his Son Jesus Christ our Lord.</string>
		<key>zh_TW</key>
		<string>神是信實的, 你們原是被祂所召, 好與祂兒子, 我們的主耶穌基督, 一同得分.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 10:13 </string>
		<key>en</key>
		<string>There hath no temptation taken you but such as is common to man: but God is faithful, who will not suffer you to be tempted above that ye are able; but will with the temptation also make a way to escape, that ye may be able to bear it.</string>
		<key>zh_TW</key>
		<string>你們所遇見的試探, 無非是人所能受的. 神是信實的, 必不叫你們受試探過於所能受的. 在受試探的時候, 總要給你們開一條出路, 叫你們能忍受得住.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 13:14 </string>
		<key>en</key>
		<string>The grace of the Lord Jesus Christ, and the love of God, and the communion of the Holy Ghost, be with you all. Amen.</string>
		<key>zh_TW</key>
		<string>願主耶穌基督的恩惠, 神的慈愛, 聖靈的感動, 常與你們 眾人同在.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 5:1 </string>
		<key>en</key>
		<string>Be ye therefore followers of God, as dear children;</string>
		<key>zh_TW</key>
		<string>所以你們該效法神, 好像蒙慈愛的兒女一樣.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦前書 5:24 </string>
		<key>en</key>
		<string>Faithful is he that calleth you, who also will do it.</string>
		<key>zh_TW</key>
		<string>那召你們的本是信實的, 他必成就這事.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 10:23 </string>
		<key>en</key>
		<string>Let us hold fast the profession of our faith without wavering; (for he is faithful that promised;)</string>
		<key>zh_TW</key>
		<string>也要堅守我們所承認的指望, 不至搖動. 因為那應許我們的是信實的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 1:16 </string>
		<key>en</key>
		<string>Because it is written, Be ye holy; for I am holy.</string>
		<key>zh_TW</key>
		<string>因為經上記著說, [你們要聖潔, 因為我是聖潔的.]</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 4:19 </string>
		<key>en</key>
		<string>Wherefore let them that suffer according to the will of God commit the keeping of their souls to him in well doing, as unto a faithful Creator.</string>
		<key>zh_TW</key>
		<string>所以那照神旨意受苦的人, 要一心為善, 將自己靈魂交與那信實的造化之主.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 1:9 </string>
		<key>en</key>
		<string>If we confess our sins, he is faithful and just to forgive us our sins, and to cleanse us from all unrighteousness.</string>
		<key>zh_TW</key>
		<string>我們若認自己的罪, 神是信實的, 是公義的, 必要赦免我們的罪, 洗淨我們一切的不義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 3:1 </string>
		<key>en</key>
		<string>Behold, what manner of love the Father hath bestowed upon us, that we should be called the sons of God: therefore the world knoweth us not, because it knew him not.</string>
		<key>zh_TW</key>
		<string>你看父賜給我們是何等的慈愛, 使我們得稱為神的兒女. 我們也真是他的兒女. 世人所以不認識我們, 是因未曾認識他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 19:11 </string>
		<key>en</key>
		<string>And I saw heaven opened, and behold a white horse; and he that sat upon him was called Faithful and True, and in righteousness he doth judge and make war.</string>
		<key>zh_TW</key>
		<string>我觀看, 見天開了. 有一匹白馬. 騎在馬上的, 稱為誠信真實. 他審判爭戰都按著公義.</string>
	</dict>
</array>
</plist>
