<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>出埃及記 34:6 </string>
		<key>en</key>
		<string>And the LORD passed by before him, and proclaimed, The LORD, The LORD God, merciful and gracious, longsuffering, and abundant in goodness and truth,</string>
		<key>zh_TW</key>
		<string>耶和華在他面前宣告說, 耶和華, 耶和華, 是有憐憫, 有恩典的神, 不輕易發怒, 並有豐盛的慈愛和誠實.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歷代志下 30:9 </string>
		<key>en</key>
		<string>For if ye turn again unto the LORD, your brethren and your children shall find compassion before them that lead them captive, so that they shall come again into this land: for the LORD your God is gracious and merciful, and will not turn away his face from you, if ye return unto him.</string>
		<key>zh_TW</key>
		<string>你們若轉向耶和華, 你們的弟兄和兒女必在擄掠他們的人面前蒙憐恤, 得以歸回這地, 因為耶和華你們的神有恩典, 施憐憫. 你們若轉向他, 他必不轉臉不顧你們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>尼希米記 9:17 </string>
		<key>en</key>
		<string>And refused to obey, neither were mindful of thy wonders that thou didst among them; but hardened their necks, and in their rebellion appointed a captain to return to their bondage: but thou art a God ready to pardon, gracious and merciful, slow to anger, and of great kindness, and forsookest them not.</string>
		<key>zh_TW</key>
		<string>不肯順從, 也不記念你在他們中間所行的奇事, 竟硬著頸項, 居心背逆, 自立首領, 要回他們為奴之地. 但你是樂意饒恕人, 有恩典, 有憐憫, 不輕易發怒, 有豐盛慈愛的神, 並不丟棄他們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>尼希米記 9:31 </string>
		<key>en</key>
		<string>Nevertheless for thy great mercies' sake thou didst not utterly consume them, nor forsake them; for thou art a gracious and merciful God.</string>
		<key>zh_TW</key>
		<string>然而你大發憐憫, 不全然滅絕他們, 也不丟棄他們. 因為你是有恩典, 有憐憫的神.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 30:5 </string>
		<key>en</key>
		<string>For his anger endureth but a moment; in his favour is life: weeping may endure for a night, but joy cometh in the morning.</string>
		<key>zh_TW</key>
		<string>因為祂的怒氣不過是轉眼之間. 祂的恩典乃是一生之久. 一宿雖然有哭泣, 早晨便必歡呼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 65:11 </string>
		<key>en</key>
		<string>Thou crownest the year with thy goodness; and thy paths drop fatness.</string>
		<key>zh_TW</key>
		<string>你以恩典為年歲的冠冕. 你的路徑都滴下脂油.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 86:15 </string>
		<key>en</key>
		<string>But thou, O Lord, art a God full of compassion, and gracious, longsuffering, and plenteous in mercy and truth.</string>
		<key>zh_TW</key>
		<string>主阿, 你是有憐憫有恩典的神, 不輕易發怒, 並有豐盛的慈愛和誠實.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 103:8 </string>
		<key>en</key>
		<string>The LORD is merciful and gracious, slow to anger, and plenteous in mercy.</string>
		<key>zh_TW</key>
		<string>耶和華有憐憫, 有恩典, 不輕易發怒, 且有豐盛的慈愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 16:15 </string>
		<key>en</key>
		<string>In the light of the king's countenance is life; and his favour is as a cloud of the latter rain.</string>
		<key>zh_TW</key>
		<string>王的臉光, 使人有生命. 王的恩典, 好像春雲時雨.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 19:12 </string>
		<key>en</key>
		<string>The king's wrath is as the roaring of a lion; but his favour is as dew upon the grass.</string>
		<key>zh_TW</key>
		<string>王的忿怒, 好像獅子吼叫. 他的恩典, 卻如草上的甘露.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 55:3 </string>
		<key>en</key>
		<string>Incline your ear, and come unto me: hear, and your soul shall live; and I will make an everlasting covenant with you, even the sure mercies of David.</string>
		<key>zh_TW</key>
		<string>你們就當近我來. 側耳而聽, 就必得活. 我必與你們立永約, 就是應許大衛那可靠的恩典.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>但以理書 9:13 </string>
		<key>en</key>
		<string>As it is written in the law of Moses, all this evil is come upon us: yet made we not our prayer before the LORD our God, that we might turn from our iniquities, and understand thy truth.</string>
		<key>zh_TW</key>
		<string>這一切災禍臨到我們身上是照摩西律法上所寫的, 我們卻沒有求耶和華我們神的恩典, 使我們回頭離開罪孽, 明白你的真理.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約珥書 2:13 </string>
		<key>en</key>
		<string>And rend your heart, and not your garments, and turn unto the LORD your God: for he is gracious and merciful, slow to anger, and of great kindness, and repenteth him of the evil.</string>
		<key>zh_TW</key>
		<string>你們要撕裂心腸, 不撕裂衣服. 歸向耶和華你們的神. 因為他有恩典. 有憐憫, 不輕易發怒, 有豐盛的慈愛, 並且後悔不降所說的災.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 1:14 </string>
		<key>en</key>
		<string>And the Word was made flesh, and dwelt among us, (and we beheld his glory, the glory as of the only begotten of the Father,) full of grace and truth.</string>
		<key>zh_TW</key>
		<string>道成了肉身住在我們中間, 充充滿滿的有恩典有真理. 我們也見過祂的榮光, 正是父獨生子的榮光.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 1:16 </string>
		<key>en</key>
		<string>And of his fulness have all we received, and grace for grace.</string>
		<key>zh_TW</key>
		<string>從祂豐滿的恩典裡我們都領受了, 而且恩上加恩.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 1:17 </string>
		<key>en</key>
		<string>For the law was given by Moses, but grace and truth came by Jesus Christ.</string>
		<key>zh_TW</key>
		<string>律法本是藉著摩西傳的, 恩典和真理, 都是由耶穌基督來的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 3:24 </string>
		<key>en</key>
		<string>Being justified freely by his grace through the redemption that is in Christ Jesus:</string>
		<key>zh_TW</key>
		<string>如今卻蒙神的恩典, 因基督耶穌的救贖, 就白白的稱義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:2 </string>
		<key>en</key>
		<string>By whom also we have access by faith into this grace wherein we stand, and rejoice in hope of the glory of God.</string>
		<key>zh_TW</key>
		<string>我們又藉著祂, 因信得進入現在所站的恩典中, 並且歡歡喜喜盼望神的榮耀.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:15 </string>
		<key>en</key>
		<string>But not as the offence, so also is the free gift. For if through the offence of one many be dead, much more the grace of God, and the gift by grace, which is by one man, Jesus Christ, hath abounded unto many.</string>
		<key>zh_TW</key>
		<string>只是過犯不如恩賜. 若因一人的過犯, 眾人都死了, 何況神的恩典, 與那因耶穌基督一人恩典中的賞賜, 豈不更加倍的臨到眾人麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:20 </string>
		<key>en</key>
		<string>Moreover the law entered, that the offence might abound. But where sin abounded, grace did much more abound:</string>
		<key>zh_TW</key>
		<string>律法本是外添的, 叫過犯顯多. 只是罪在那裡顯多, 恩典就更顯多了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:21 </string>
		<key>en</key>
		<string>That as sin hath reigned unto death, even so might grace reign through righteousness unto eternal life by Jesus Christ our Lord.</string>
		<key>zh_TW</key>
		<string>就如罪作王叫人死, 照樣恩典也藉著義作王, 叫人因我們的主耶穌基督得永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 6:14 </string>
		<key>en</key>
		<string>For sin shall not have dominion over you: for ye are not under the law, but under grace.</string>
		<key>zh_TW</key>
		<string>罪必不能作你們的主. 因為你們不在律法之下, 乃在恩典之下.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 6:15 </string>
		<key>en</key>
		<string>What then? shall we sin, because we are not under the law, but under grace? God forbid.</string>
		<key>zh_TW</key>
		<string>這卻怎麼樣呢. 我們在恩典之下, 不在律法之下, 就可以犯罪麼. 斷乎不可.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 11:6 </string>
		<key>en</key>
		<string>And if by grace, then is it no more of works: otherwise grace is no more grace. But if it be of works, then it is no more grace: otherwise work is no more work.</string>
		<key>zh_TW</key>
		<string>既是出於恩典, 就不在乎行為. 不然, 恩典就不是恩典了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 6:1 </string>
		<key>en</key>
		<string>We then, as workers together with him, beseech you also that ye receive not the grace of God in vain.</string>
		<key>zh_TW</key>
		<string>我們與神同工的, 也勸你們, 不可徒受他的恩典.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 8:9 </string>
		<key>en</key>
		<string>For ye know the grace of our Lord Jesus Christ, that, though he was rich, yet for your sakes he became poor, that ye through his poverty might be rich.</string>
		<key>zh_TW</key>
		<string>你們知道我們主耶穌基督的恩典. 他本來富足, 卻為你們成了貧窮, 叫你們因他的貧窮, 可以成為富足.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 12:9 </string>
		<key>en</key>
		<string>And he said unto me, My grace is sufficient for thee: for my strength is made perfect in weakness. Most gladly therefore will I rather glory in my infirmities, that the power of Christ may rest upon me.</string>
		<key>zh_TW</key>
		<string>他對我說, 我的恩典夠你用的. 因為我的能力, 是在人的軟弱上顯得完全. 所以我更喜歡誇自己的軟弱, 好叫基督的能力覆庇我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 1:6 </string>
		<key>en</key>
		<string>To the praise of the glory of his grace, wherein he hath made us accepted in the beloved.</string>
		<key>zh_TW</key>
		<string>使他榮耀的恩典得著稱讚. 這恩典是他在愛子裡所賜給我們的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 1:7 </string>
		<key>en</key>
		<string>In whom we have redemption through his blood, the forgiveness of sins, according to the riches of his grace;</string>
		<key>zh_TW</key>
		<string>我們藉這愛子的血, 得蒙救贖, 過犯得以赦免, 乃是照他豐富的恩典.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 1:8 </string>
		<key>en</key>
		<string>Wherein he hath abounded toward us in all wisdom and prudence;</string>
		<key>zh_TW</key>
		<string>這恩典是神用諸般智慧聰明, 充充足足賞給我們的,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 1:9 </string>
		<key>en</key>
		<string>Who hath saved us, and called us with an holy calling, not according to our works, but according to his own purpose and grace, which was given us in Christ Jesus before the world began,</string>
		<key>zh_TW</key>
		<string>神救了我們, 以聖召召我們, 不是按我們的行為, 乃是按祂的旨意, 和恩典. 這恩典是萬古之先, 在基督耶穌裡賜給我們的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 4:6 </string>
		<key>en</key>
		<string>But he giveth more grace. Wherefore he saith, God resisteth the proud, but giveth grace unto the humble.</string>
		<key>zh_TW</key>
		<string>他賜更多的恩典. 所以經上說, [神阻擋驕傲的人,賜恩給謙卑的人.]</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 5:10 </string>
		<key>en</key>
		<string>But the God of all grace, who hath called us unto his eternal glory by Christ Jesus, after that ye have suffered a while, make you perfect, stablish, strengthen, settle you.</string>
		<key>zh_TW</key>
		<string>那賜諸般恩典的神, 曾在基督裡召你們, 得亨他永遠的榮耀, 等你們暫受苦難之後, 必要親自成全你們, 堅固你們, 賜力量給你們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得後書 3:18 </string>
		<key>en</key>
		<string>But grow in grace, and in the knowledge of our Lord and Saviour Jesus Christ. To him be glory both now and for ever. Amen.</string>
		<key>zh_TW</key>
		<string>你們卻要在我們主救主耶穌基督的恩典和知識上有長進. 願榮耀歸給他, 從今直到永遠. 阿們.</string>
	</dict>
</array>
</plist>
