<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>馬太福音 3:11 </string>
		<key>en</key>
		<string>I indeed baptize you with water unto repentance: but he that cometh after me is mightier than I, whose shoes I am not worthy to bear: he shall baptize you with the Holy Ghost, and with fire:</string>
		<key>zh_TW</key>
		<string>我是用水給你們施洗, 叫你們悔改. 但那在我以後來的, 能力比我更大, 我就是給祂提鞋, 也不配. 祂要用聖靈與火給你們施洗.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 28:19 </string>
		<key>en</key>
		<string>Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost:</string>
		<key>zh_TW</key>
		<string>所以你們要去, 使萬民作我的門徒, 奉父子聖靈的名, 給他們施洗. ((或作給他們施洗歸於父子聖靈的名))</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬可福音 16:16 </string>
		<key>en</key>
		<string>He that believeth and is baptized shall be saved; but he that believeth not shall be damned.</string>
		<key>zh_TW</key>
		<string>信而受洗的必然得救. 不信的必被定罪.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 3:16 </string>
		<key>en</key>
		<string>John answered, saying unto them all, I indeed baptize you with water; but one mightier than I cometh, the latchet of whose shoes I am not worthy to unloose: he shall baptize you with the Holy Ghost and with fire:</string>
		<key>zh_TW</key>
		<string>約翰說, 我是用水給你們施洗, 但有一位能力比我更大的要來, 我就是給他解鞋帶也不配. 他要用聖靈與火給你們施洗.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 1:33 </string>
		<key>en</key>
		<string>And I knew him not: but he that sent me to baptize with water, the same said unto me, Upon whom thou shalt see the Spirit descending, and remaining on him, the same is he which baptizeth with the Holy Ghost.</string>
		<key>zh_TW</key>
		<string>我先前不認識祂. 只是那差我來用水施洗的, 對我說, 你看見聖靈降下來, 住在誰的身上, 誰就是用聖靈施洗的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 2:38 </string>
		<key>en</key>
		<string>Then Peter said unto them, Repent, and be baptized every one of you in the name of Jesus Christ for the remission of sins, and ye shall receive the gift of the Holy Ghost.</string>
		<key>zh_TW</key>
		<string>彼得說, 你們各人要悔改, 奉耶穌基督的名受洗, 叫你們的罪得赦, 就必領受所賜的聖靈.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 6:3 </string>
		<key>en</key>
		<string>Know ye not, that so many of us as were baptized into Jesus Christ were baptized into his death?</string>
		<key>zh_TW</key>
		<string>豈不知我們這受洗歸入基督耶穌的人, 是受洗歸入祂的死麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 12:13 </string>
		<key>en</key>
		<string>For by one Spirit are we all baptized into one body, whether we be Jews or Gentiles, whether we be bond or free; and have been all made to drink into one Spirit.</string>
		<key>zh_TW</key>
		<string>我們不拘是猶太人, 是希利尼人, 是為奴的, 是自主的, 都從一位聖靈受洗, 成了一個身體. 飲於一位聖靈.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 15:29 </string>
		<key>en</key>
		<string>Else what shall they do which are baptized for the dead, if the dead rise not at all? why are they then baptized for the dead?</string>
		<key>zh_TW</key>
		<string>不然那些為死人受洗的, 將來怎樣呢. 若死人總不復活, 因何為他們受洗呢.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>加拉太書 3:27 </string>
		<key>en</key>
		<string>For as many of you as have been baptized into Christ have put on Christ.</string>
		<key>zh_TW</key>
		<string>你們受洗歸入基督的, 都是披戴基督了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 2:12 </string>
		<key>en</key>
		<string>Buried with him in baptism, wherein also ye are risen with him through the faith of the operation of God, who hath raised him from the dead.</string>
		<key>zh_TW</key>
		<string>你們既受洗與他一同埋葬, 也就在此與他一同復活. 都因信那叫他從死裡復活神的功用.</string>
	</dict>
</array>
</plist>
