<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>約伯記 29:14 </string>
		<key>en</key>
		<string>I put on righteousness, and it clothed me: my judgment was as a robe and a diadem.</string>
		<key>zh_TW</key>
		<string>我以公義為衣服, 以公平為外袍和冠冕.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 103:4 </string>
		<key>en</key>
		<string>Who redeemeth thy life from destruction; who crowneth thee with lovingkindness and tender mercies;</string>
		<key>zh_TW</key>
		<string>他救贖你的命脫離死亡, 以仁愛和慈悲為你的冠冕.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 12:4 </string>
		<key>en</key>
		<string>A virtuous woman is a crown to her husband: but she that maketh ashamed is as rottenness in his bones.</string>
		<key>zh_TW</key>
		<string>才德的婦人, 是丈夫的冠冕. 貽羞的婦人, 如同朽爛在他丈夫的骨中.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 14:18 </string>
		<key>en</key>
		<string>The simple inherit folly: but the prudent are crowned with knowledge.</string>
		<key>zh_TW</key>
		<string>愚蒙人得愚昧為產業. 通達人得知識為冠冕.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 14:24 </string>
		<key>en</key>
		<string>The crown of the wise is their riches: but the foolishness of fools is folly.</string>
		<key>zh_TW</key>
		<string>智慧人的財, 為自己的冠冕. 愚妄人的愚昧, 終是愚昧.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 17:6 </string>
		<key>en</key>
		<string>Children's children are the crown of old men; and the glory of children are their fathers.</string>
		<key>zh_TW</key>
		<string>子孫為老人的冠冕. 父親是兒女的榮耀.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒迦利亞書 9:16 </string>
		<key>en</key>
		<string>And the LORD their God shall save them in that day as the flock of his people: for they shall be as the stones of a crown, lifted up as an ensign upon his land.</string>
		<key>zh_TW</key>
		<string>當那日, 耶和華他們的神必看他的民, 如群羊拯救他們. 因為他們必像冠冕上的寶石, 高舉在他的地以上 ((高舉云云或作在他的地上發光輝)).</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 9:25 </string>
		<key>en</key>
		<string>And every man that striveth for the mastery is temperate in all things. Now they do it to obtain a corruptible crown; but we an incorruptible.</string>
		<key>zh_TW</key>
		<string>凡較力爭勝的, 諸事都有節制. 他們不過是要得能壞的冠冕. 我們卻是要得不能壞的冠冕.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>腓利比書 4:1 </string>
		<key>en</key>
		<string>Therefore, my brethren dearly beloved and longed for, my joy and crown, so stand fast in the Lord, my dearly beloved.</string>
		<key>zh_TW</key>
		<string>我所親愛所想念的弟兄們, 你們就是我的喜樂, 我的冠冕. 我親愛的弟兄, 你們應當靠主站立得穩.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦前書 2:19 </string>
		<key>en</key>
		<string>For what is our hope, or joy, or crown of rejoicing? Are not even ye in the presence of our Lord Jesus Christ at his coming?</string>
		<key>zh_TW</key>
		<string>我們的盼望和喜樂, 並所誇的冠冕, 是甚麼呢. 豈不是我們主耶穌來的時候你們在他面前站立得住麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 4:8 </string>
		<key>en</key>
		<string>Henceforth there is laid up for me a crown of righteousness, which the Lord, the righteous judge, shall give me at that day: and not to me only, but unto all them also that love his appearing.</string>
		<key>zh_TW</key>
		<string>從此以後, 有公義的冠冕為我存留, 就是按著公義審判的主到了那日要賜給我的. 不但賜給我, 也賜給凡愛慕他顯現的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 2:9 </string>
		<key>en</key>
		<string>But we see Jesus, who was made a little lower than the angels for the suffering of death, crowned with glory and honour; that he by the grace of God should taste death for every man.</string>
		<key>zh_TW</key>
		<string>惟獨見那成為比天使小一點的耶穌, ((或作惟獨見耶穌暫時比天使小))因為受死的苦, 就得了尊貴榮耀為冠冕, 叫他因著神的恩, 為人人嘗了死味.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 1:12 </string>
		<key>en</key>
		<string>Blessed is the man that endureth temptation: for when he is tried, he shall receive the crown of life, which the Lord hath promised to them that love him.</string>
		<key>zh_TW</key>
		<string>忍受試探的人是有福的. 因為他經過試驗以後, 必得生命的冠冕, 這是主應許給那些愛他之人的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 5:2-4 </string>
		<key>en</key>
		<string>And when the chief Shepherd shall appear, ye shall receive a crown of glory that fadeth not away. Feed the flock of God which is among you, taking the oversight thereof, not by constraint, but willingly; not for filthy lucre, but of a ready mind; Neither as being lords over God's heritage, but being ensamples to the flock. And when the chief Shepherd shall appear, ye shall receive a crown of glory that fadeth not away.</string>
		<key>zh_TW</key>
		<string>到了牧長顯現的時候, 你們必得那永不衰殘的榮耀冠冕. 務要牧養在你們中間神的群羊, 按著神旨意照管他們. 不是出於勉強, 乃是出於甘心. 也不是因為貪財, 乃是出於樂意. 也不是轄制所託付你們的, 乃是作群羊的榜樣. 到了牧長顯現的時候, 你們必得那永不衰殘的榮耀冠冕.</string>
	</dict>
</array>
</plist>
