<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>申命記 6:16 </string>
		<key>en</key>
		<string>Ye shall not tempt the LORD your God, as ye tempted him in Massah.</string>
		<key>zh_TW</key>
		<string>你們不可試探耶和華你們的神, 像你們在瑪撒那樣試探他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 4:7 </string>
		<key>en</key>
		<string>Jesus said unto him, It is written again, Thou shalt not tempt the Lord thy God.</string>
		<key>zh_TW</key>
		<string>耶穌對他說, 經上又記著說, [不可試探主你的神.]</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 10:13 </string>
		<key>en</key>
		<string>There hath no temptation taken you but such as is common to man: but God is faithful, who will not suffer you to be tempted above that ye are able; but will with the temptation also make a way to escape, that ye may be able to bear it.</string>
		<key>zh_TW</key>
		<string>你們所遇見的試探, 無非是人所能受的. 神是信實的, 必不叫你們受試探過於所能受的. 在受試探的時候, 總要給你們開一條出路, 叫你們能忍受得住.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 2:18 </string>
		<key>en</key>
		<string>For in that he himself hath suffered being tempted, he is able to succour them that are tempted.</string>
		<key>zh_TW</key>
		<string>他自己既然被試探而受苦, 就能搭救被試探的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 1:12 </string>
		<key>en</key>
		<string>Blessed is the man that endureth temptation: for when he is tried, he shall receive the crown of life, which the Lord hath promised to them that love him.</string>
		<key>zh_TW</key>
		<string>忍受試探的人是有福的. 因為他經過試驗以後, 必得生命的冠冕, 這是主應許給那些愛他之人的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 1:13 </string>
		<key>en</key>
		<string>Let no man say when he is tempted, I am tempted of God: for God cannot be tempted with evil, neither tempteth he any man:</string>
		<key>zh_TW</key>
		<string>人被試探, 不可說, 我是被神試探. 因為神不能被惡試探, 他也不試探人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得後書 2:9 </string>
		<key>en</key>
		<string>The Lord knoweth how to deliver the godly out of temptations, and to reserve the unjust unto the day of judgment to be punished:</string>
		<key>zh_TW</key>
		<string>主知道搭救敬虔的人脫離試探, 把不義的人留在刑罰之下, 等候審判的日子.</string>
	</dict>
</array>
</plist>
