<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>羅馬書 6:17 </string>
		<key>en</key>
		<string>But God be thanked, that ye were the servants of sin, but ye have obeyed from the heart that form of doctrine which was delivered you.</string>
		<key>zh_TW</key>
		<string>感謝神, 因為你們從前雖然作罪的奴僕, 現今卻從心裡順服了所傳給你們道理的模範.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 7:25 </string>
		<key>en</key>
		<string>I thank God through Jesus Christ our Lord. So then with the mind I myself serve the law of God; but with the flesh the law of sin.</string>
		<key>zh_TW</key>
		<string>感謝神, 靠著我們的主耶穌基督就能脫離了. 這樣看來, 我以內心順服神的律. 我肉身卻順服罪的律了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 11:32 </string>
		<key>en</key>
		<string>For God hath concluded them all in unbelief, that he might have mercy upon all.</string>
		<key>zh_TW</key>
		<string>因為神將眾人都圈在不順服之中, 特意要憐恤眾人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 13:1 </string>
		<key>en</key>
		<string>Let every soul be subject unto the higher powers. For there is no power but of God: the powers that be are ordained of God.</string>
		<key>zh_TW</key>
		<string>在上有權柄的, 人人當順服他. 因為沒有權柄不是出於神的. 凡掌權的都是神所命的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 13:5 </string>
		<key>en</key>
		<string>Wherefore ye must needs be subject, not only for wrath, but also for conscience sake.</string>
		<key>zh_TW</key>
		<string>所以你們必須順服, 不但是因為刑罰, 也是因為良心.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 15:18 </string>
		<key>en</key>
		<string>For I will not dare to speak of any of those things which Christ hath not wrought by me, to make the Gentiles obedient, by word and deed,</string>
		<key>zh_TW</key>
		<string>除了基督藉我作的那些事, 我甚麼都不敢題. 只題祂藉我言語作為, 用神蹟奇事的能力, 並聖靈的能力, 使外邦人順服.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 5:21 </string>
		<key>en</key>
		<string>Submitting yourselves one to another in the fear of God.</string>
		<key>zh_TW</key>
		<string>又當存敬畏基督的心, 彼此順服.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 5:22 </string>
		<key>en</key>
		<string>Wives, submit yourselves unto your own husbands, as unto the Lord.</string>
		<key>zh_TW</key>
		<string>你們作妻子的, 當順服自己的丈夫, 如同順服主.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 5:24 </string>
		<key>en</key>
		<string>Therefore as the church is subject unto Christ, so let the wives be to their own husbands in every thing.</string>
		<key>zh_TW</key>
		<string>教會怎樣順服基督, 妻子也要怎樣凡事順服丈夫.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>腓利比書 2:8 </string>
		<key>en</key>
		<string>And being found in fashion as a man, he humbled himself, and became obedient unto death, even the death of the cross.</string>
		<key>zh_TW</key>
		<string>既有人的樣子, 就自己卑微, 存心順服, 以至於死, 且死在十字架上.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 3:18 </string>
		<key>en</key>
		<string>Wives, submit yourselves unto your own husbands, as it is fit in the Lord.</string>
		<key>zh_TW</key>
		<string>你們作妻子的, 當順服自己的丈夫, 這在主裡面是相宜的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 2:11 </string>
		<key>en</key>
		<string>Let the woman learn in silence with all subjection.</string>
		<key>zh_TW</key>
		<string>女人要沉靜學道, 一味的順服.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 3:4 </string>
		<key>en</key>
		<string>One that ruleth well his own house, having his children in subjection with all gravity;</string>
		<key>zh_TW</key>
		<string>好好管理自己的家, 使兒女凡事端莊順服. ((或作端端莊莊的使兒女順服))</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提多書 2:5 </string>
		<key>en</key>
		<string>To be discreet, chaste, keepers at home, good, obedient to their own husbands, that the word of God be not blasphemed.</string>
		<key>zh_TW</key>
		<string>謹守貞潔, 料理家務, 待人有恩, 順服自己的丈夫, 免得神的道理被毀謗.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提多書 2:9 </string>
		<key>en</key>
		<string>Exhort servants to be obedient unto their own masters, and to please them well in all things; not answering again;</string>
		<key>zh_TW</key>
		<string>勸僕人要順服自己的主人, 凡事討他的喜歡. 不可頂撞他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 12:9 </string>
		<key>en</key>
		<string>Furthermore we have had fathers of our flesh which corrected us, and we gave them reverence: shall we not much rather be in subjection unto the Father of spirits, and live?</string>
		<key>zh_TW</key>
		<string>再者, 我們曾有生身的父管教我們, 我們尚且敬重他, 何況萬靈的父, 我們豈不更當順服他得生麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 13:17 </string>
		<key>en</key>
		<string>Obey them that have the rule over you, and submit yourselves: for they watch for your souls, as they that must give account, that they may do it with joy, and not with grief: for that is unprofitable for you.</string>
		<key>zh_TW</key>
		<string>你們要依從那些引導你們的, 且要順服. 因他們為你們的靈魂時刻儆醒, 好像那將來交賬的人. 你們要使他們交的時候有快樂, 不至憂愁. 若憂愁就與你們無益了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 4:7 </string>
		<key>en</key>
		<string>Submit yourselves therefore to God. Resist the devil, and he will flee from you.</string>
		<key>zh_TW</key>
		<string>故此你們要順服神, 務要抵擋魔鬼, 魔鬼就必離開你們逃跑了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 2:18 </string>
		<key>en</key>
		<string>Servants, be subject to your masters with all fear; not only to the good and gentle, but also to the froward.</string>
		<key>zh_TW</key>
		<string>你們作僕人的, 凡事要存敬畏的心順服主人. 不但順服那善良溫和的, 就是那乖僻的也要順服.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 3:1 </string>
		<key>en</key>
		<string>Likewise, ye wives, be in subjection to your own husbands; that, if any obey not the word, they also may without the word be won by the conversation of the wives;</string>
		<key>zh_TW</key>
		<string>妳們作妻子的, 要順服自己的丈夫. 這樣, 若有不信從道理的丈夫, 他們雖然不聽道, 也可以因妻子的品行被感化過來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 5:5 </string>
		<key>en</key>
		<string>Likewise, ye younger, submit yourselves unto the elder. Yea, all of you be subject one to another, and be clothed with humility: for God resisteth the proud, and giveth grace to the humble.</string>
		<key>zh_TW</key>
		<string>你們年幼的, 也要順服年長的. 就是你們眾人, 也都要以謙卑束腰, 彼此順服. 因為神阻擋驕傲的人, 賜恩給謙卑的人.</string>
	</dict>
</array>
</plist>
