<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>詩篇 7:11 </string>
		<key>en</key>
		<string>God judgeth the righteous, and God is angry with the wicked every day.</string>
		<key>zh_TW</key>
		<string>神是公義的審判者, 又是天天向惡人發怒的神.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 9:4 </string>
		<key>en</key>
		<string>For thou hast maintained my right and my cause; thou satest in the throne judging right.</string>
		<key>zh_TW</key>
		<string>因你已經為我伸冤, 為我辨屈. 你坐在寶座上, 按公義審判.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 9:8 </string>
		<key>en</key>
		<string>And he shall judge the world in righteousness, he shall minister judgment to the people in uprightness.</string>
		<key>zh_TW</key>
		<string>他要按公義審判世界, 按正直判斷萬民.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 11:7 </string>
		<key>en</key>
		<string>For the righteous LORD loveth righteousness; his countenance doth behold the upright.</string>
		<key>zh_TW</key>
		<string>因為耶和華是公義的. 他喜愛公義. 正直人必得見他的面.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 18:24 </string>
		<key>en</key>
		<string>Therefore hath the LORD recompensed me according to my righteousness, according to the cleanness of my hands in his eyesight.</string>
		<key>zh_TW</key>
		<string>所以耶和華按我的公義, 按我在他眼前手中的清潔, 償還我.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 19:9 </string>
		<key>en</key>
		<string>The fear of the LORD is clean, enduring for ever: the judgments of the LORD are true and righteous altogether.</string>
		<key>zh_TW</key>
		<string>耶和華的道理潔淨, 存到永遠. 耶和華的典章真實, 全然公義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 33:5 </string>
		<key>en</key>
		<string>He loveth righteousness and judgment: the earth is full of the goodness of the LORD.</string>
		<key>zh_TW</key>
		<string>祂喜愛仁義公平. 遍地滿了耶和華的慈愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 94:15 </string>
		<key>en</key>
		<string>But judgment shall return unto righteousness: and all the upright in heart shall follow it.</string>
		<key>zh_TW</key>
		<string>審判要轉向公義. 心裡正直的, 必都隨從.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 96:13 </string>
		<key>en</key>
		<string>Before the LORD: for he cometh, for he cometh to judge the earth: he shall judge the world with righteousness, and the people with his truth.</string>
		<key>zh_TW</key>
		<string>因為他來了. 他來要審判全地. 他要按公義審判世界, 按他的信實審判萬民.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 97:2 </string>
		<key>en</key>
		<string>Clouds and darkness are round about him: righteousness and judgment are the habitation of his throne.</string>
		<key>zh_TW</key>
		<string>密雲和幽暗, 在他的四圍. 公義和公平, 是他寶座的根基.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 98:2 </string>
		<key>en</key>
		<string>The LORD hath made known his salvation: his righteousness hath he openly shewed in the sight of the heathen.</string>
		<key>zh_TW</key>
		<string>耶和華發明了他的救恩, 在列邦人眼前顯出公義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 103:6 </string>
		<key>en</key>
		<string>The LORD executeth righteousness and judgment for all that are oppressed.</string>
		<key>zh_TW</key>
		<string>耶和華施行公義, 為一切受屈的人伸冤.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 103:17 </string>
		<key>en</key>
		<string>But the mercy of the LORD is from everlasting to everlasting upon them that fear him, and his righteousness unto children's children;</string>
		<key>zh_TW</key>
		<string>但耶和華的慈愛, 歸於敬畏他的人, 從亙古到永遠. 他的公義, 也歸於子子孫孫.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 106:3 </string>
		<key>en</key>
		<string>Blessed are they that keep judgment, and he that doeth righteousness at all times.</string>
		<key>zh_TW</key>
		<string>凡遵守公平, 常行公義的, 這人便為有福.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 111:3 </string>
		<key>en</key>
		<string>His work is honourable and glorious: and his righteousness endureth for ever.</string>
		<key>zh_TW</key>
		<string>他所行的是尊榮和威嚴. 他的公義存到永遠.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 116:5 </string>
		<key>en</key>
		<string>Gracious is the LORD, and righteous; yea, our God is merciful.</string>
		<key>zh_TW</key>
		<string>耶和華有恩惠, 有公義. 我們的神以憐憫為懷.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 119:137 </string>
		<key>en</key>
		<string>Righteous art thou, O LORD, and upright are thy judgments.</string>
		<key>zh_TW</key>
		<string>耶和華阿, 你是公義的, 你的判語也是正直的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 119:138 </string>
		<key>en</key>
		<string>Thy testimonies that thou hast commanded are righteous and very faithful.</string>
		<key>zh_TW</key>
		<string>你所命定的法度, 是憑公義和至誠.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 129:4 </string>
		<key>en</key>
		<string>The LORD is righteous: he hath cut asunder the cords of the wicked.</string>
		<key>zh_TW</key>
		<string>耶和華是公義的. 他砍斷了惡人的繩索.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 8:8 </string>
		<key>en</key>
		<string>All the words of my mouth are in righteousness; there is nothing froward or perverse in them.</string>
		<key>zh_TW</key>
		<string>我口中的言語, 都是公義, 並無彎曲乖僻.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 10:2 </string>
		<key>en</key>
		<string>Treasures of wickedness profit nothing: but righteousness delivereth from death.</string>
		<key>zh_TW</key>
		<string>不義之財, 毫無益處. 惟有公義, 能救人脫離死亡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 11:4 </string>
		<key>en</key>
		<string>Riches profit not in the day of wrath: but righteousness delivereth from death.</string>
		<key>zh_TW</key>
		<string>發怒的日子, 貲財無益. 惟有公義能救人脫離死亡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 12:28 </string>
		<key>en</key>
		<string>In the way of righteousness is life: and in the pathway thereof there is no death.</string>
		<key>zh_TW</key>
		<string>在公義的道上有生命. 其路之中, 並無死亡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 13:6 </string>
		<key>en</key>
		<string>Righteousness keepeth him that is upright in the way: but wickedness overthroweth the sinner.</string>
		<key>zh_TW</key>
		<string>行為正直的, 有公義保守. 犯罪的被邪惡傾覆.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 15:9 </string>
		<key>en</key>
		<string>The way of the wicked is an abomination unto the LORD: but he loveth him that followeth after righteousness.</string>
		<key>zh_TW</key>
		<string>惡人的道路, 為耶和華所憎惡. 追求公義的, 為他所喜愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 16:8 </string>
		<key>en</key>
		<string>Better is a little with righteousness than great revenues without right.</string>
		<key>zh_TW</key>
		<string>多有財利, 行事不義, 不如少有財利, 行事公義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 21:21 </string>
		<key>en</key>
		<string>He that followeth after righteousness and mercy findeth life, righteousness, and honour.</string>
		<key>zh_TW</key>
		<string>追求公義仁慈的, 就尋得生命, 公義, 和尊榮.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 8:32~33 </string>
		<key>en</key>
		<string>The place of the scripture which he read was this, He was led as a sheep to the slaughter; and like a lamb dumb before his shearer, so opened he not his mouth: In his humiliation his judgment was taken away: and who shall declare his generation? for his life is taken from the earth.</string>
		<key>zh_TW</key>
		<string>他所念的那段經, 說, [祂像羊被牽到宰殺之地, 又像羊羔在剪毛的手下無聲, 祂也是這樣不開口. 祂卑微的時候, 人不按公義審判祂. ((原文作祂的審判被奪去)) 誰能述說祂的世代, 因為祂的生命從地上奪去.]</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 14:17 </string>
		<key>en</key>
		<string>For the kingdom of God is not meat and drink; but righteousness, and peace, and joy in the Holy Ghost.</string>
		<key>zh_TW</key>
		<string>因為神的國, 不在乎吃喝, 只在乎公義, 和平, 並聖靈中的喜樂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦後書 1:6 </string>
		<key>en</key>
		<string>Seeing it is a righteous thing with God to recompense tribulation to them that trouble you;</string>
		<key>zh_TW</key>
		<string>神既是公義的, 就必將患難報應那加患難給你們的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 6:11 </string>
		<key>en</key>
		<string>But thou, O man of God, flee these things; and follow after righteousness, godliness, faith, love, patience, meekness.</string>
		<key>zh_TW</key>
		<string>但你這屬神的人, 要逃避這些事, 追求公義, 敬虔, 信心, 愛心, 忍耐, 溫柔.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 2:22 </string>
		<key>en</key>
		<string>Flee also youthful lusts: but follow righteousness, faith, charity, peace, with them that call on the Lord out of a pure heart.</string>
		<key>zh_TW</key>
		<string>你要逃避少年的私慾, 同那清心禱告主的人追求公義, 信德, 仁愛, 和平.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提多書 2:12 </string>
		<key>en</key>
		<string>Teaching us that, denying ungodliness and worldly lusts, we should live soberly, righteously, and godly, in this present world;</string>
		<key>zh_TW</key>
		<string>教訓我們除去不敬虔的心, 和世俗的情慾, 在今世自守, 公義, 敬虔度日.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 1:8~9 </string>
		<key>en</key>
		<string>But unto the Son he saith, Thy throne, O God, is for ever and ever: a sceptre of righteousness is the sceptre of thy kingdom. Thou hast loved righteousness, and hated iniquity; therefore God, even thy God, hath anointed thee with the oil of gladness above thy fellows.</string>
		<key>zh_TW</key>
		<string>論到子卻 (.說.), [神阿, 你的寶座是永永遠遠的, 你的國權是正直的. 你喜愛公義, 恨惡罪惡. 所以神就是你的神, 用喜樂油膏你, 勝過膏你的同伴.]</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 2:23 </string>
		<key>en</key>
		<string>Who, when he was reviled, reviled not again; when he suffered, he threatened not; but committed himself to him that judgeth righteously:</string>
		<key>zh_TW</key>
		<string>祂被罵不還口. 受害不說威嚇的話. 只將自己交託那按公義審判人的主.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 1:9 </string>
		<key>en</key>
		<string>If we confess our sins, he is faithful and just to forgive us our sins, and to cleanse us from all unrighteousness.</string>
		<key>zh_TW</key>
		<string>我們若認自己的罪, 神是信實的, 是公義的, 必要赦免我們的罪, 洗淨我們一切的不義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 2:29 </string>
		<key>en</key>
		<string>If ye know that he is righteous, ye know that every one that doeth righteousness is born of him.</string>
		<key>zh_TW</key>
		<string>你們若知道他是公義的, 就知道凡行公義之人都是他所生的.</string>
	</dict>
</array>
</plist>
