<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>馬太福音 6:25 </string>
		<key>en</key>
		<string>Therefore I say unto you, Take no thought for your life, what ye shall eat, or what ye shall drink; nor yet for your body, what ye shall put on. Is not the life more than meat, and the body than raiment?</string>
		<key>zh_TW</key>
		<string>所以我告訴你們, 不要為生命憂慮, 吃甚麼, 喝甚麼. 為身體憂慮, 穿甚麼. 生命不勝於飲食麼, 身體不勝於衣裳麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 10:39 </string>
		<key>en</key>
		<string>He that findeth his life shall lose it: and he that loseth his life for my sake shall find it.</string>
		<key>zh_TW</key>
		<string>得著生命的, 將要失喪生命. 為我失喪生命的, 將要得著生命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 16:25 </string>
		<key>en</key>
		<string>For whosoever will save his life shall lose it: and whosoever will lose his life for my sake shall find it.</string>
		<key>zh_TW</key>
		<string>因為凡要救自己生命的, ((生命或作靈魂下同)) 必喪掉生命.凡為我喪掉生命的, 必得著生命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 16:26 </string>
		<key>en</key>
		<string>For what is a man profited, if he shall gain the whole world, and lose his own soul? or what shall a man give in exchange for his soul?</string>
		<key>zh_TW</key>
		<string>人若賺得全世界, 賠上自己的生命, 有甚麼益處呢. 人還能拿甚麼換生命呢.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 12:15 </string>
		<key>en</key>
		<string>And he said unto them, Take heed, and beware of covetousness: for a man's life consisteth not in the abundance of the things which he possesseth.</string>
		<key>zh_TW</key>
		<string>於是對眾人說, 你們要謹慎自守, 免去一切的貪心. 因為人的生命, 不在乎家道豐富.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 1:4 </string>
		<key>en</key>
		<string>In him was life; and the life was the light of men.</string>
		<key>zh_TW</key>
		<string>生命在祂裡頭. 這生命就是人的光.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 5:26 </string>
		<key>en</key>
		<string>For as the Father hath life in himself; so hath he given to the Son to have life in himself;</string>
		<key>zh_TW</key>
		<string>因為父怎樣在自己有生命, 就賜給祂兒子也照樣在自己有生命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:33 </string>
		<key>en</key>
		<string>For the bread of God is he which cometh down from heaven, and giveth life unto the world.</string>
		<key>zh_TW</key>
		<string>因為神的糧, 就是那從天上降下來賜生命給世界的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:35 </string>
		<key>en</key>
		<string>And Jesus said unto them, I am the bread of life: he that cometh to me shall never hunger; and he that believeth on me shall never thirst.</string>
		<key>zh_TW</key>
		<string>耶穌說, 我就是生命的糧. 到我這裡來的, 必定不餓. 信我的, 永遠不渴.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:48 </string>
		<key>en</key>
		<string>I am that bread of life.</string>
		<key>zh_TW</key>
		<string>我就是生命的糧.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:51 </string>
		<key>en</key>
		<string>I am the living bread which came down from heaven: if any man eat of this bread, he shall live for ever: and the bread that I will give is my flesh, which I will give for the life of the world.</string>
		<key>zh_TW</key>
		<string>我是從天上降下來生命的糧. 人若吃這糧, 就必永遠活著. 我所要賜的糧, 就是我的肉, 為世人之生命所賜的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:53 </string>
		<key>en</key>
		<string>Then Jesus said unto them, Verily, verily, I say unto you, Except ye eat the flesh of the Son of man, and drink his blood, ye have no life in you.</string>
		<key>zh_TW</key>
		<string>耶穌說, 我實實在在的告訴你們, 你們若不吃人子的肉, 不喝人子的血, 就沒有生命在你們裡面.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 6:63 </string>
		<key>en</key>
		<string>It is the spirit that quickeneth; the flesh profiteth nothing: the words that I speak unto you, they are spirit, and they are life.</string>
		<key>zh_TW</key>
		<string>叫人活著的乃是靈, 肉體是無益的. 我對你們所說的話, 就是靈, 就是生命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 8:12 </string>
		<key>en</key>
		<string>Then spake Jesus again unto them, saying, I am the light of the world: he that followeth me shall not walk in darkness, but shall have the light of life.</string>
		<key>zh_TW</key>
		<string>耶穌又對眾人說, 我是世上的光. 跟從我的, 就不在黑暗裡走, 必要得著生命的光.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 10:10 </string>
		<key>en</key>
		<string>The thief cometh not, but for to steal, and to kill, and to destroy: I am come that they might have life, and that they might have it more abundantly.</string>
		<key>zh_TW</key>
		<string>盜賊來, 無非要偷竊, 殺害, 毀壞. 我來了, 是要叫羊 ((或作人)) 得生命, 並且得的更豐盛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 11:25 </string>
		<key>en</key>
		<string>Jesus said unto her, I am the resurrection, and the life: he that believeth in me, though he were dead, yet shall he live:</string>
		<key>zh_TW</key>
		<string>耶穌對他說, 復活在我, 生命也在我. 信我的人, 雖然死了, 也必復活.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 12:25 </string>
		<key>en</key>
		<string>He that loveth his life shall lose it; and he that hateth his life in this world shall keep it unto life eternal.</string>
		<key>zh_TW</key>
		<string>愛惜自己生命的, 就失喪生命. 在這世上恨惡自己生命的, 就要保守生命到永生.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 14:6 </string>
		<key>en</key>
		<string>Jesus saith unto him, I am the way, the truth, and the life: no man cometh unto the Father, but by me.</string>
		<key>zh_TW</key>
		<string>耶穌說, 我就是道路, 真理, 生命. 若不藉著我. 沒有人能到父那裡去.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 20:31 </string>
		<key>en</key>
		<string>But these are written, that ye might believe that Jesus is the Christ, the Son of God; and that believing ye might have life through his name.</string>
		<key>zh_TW</key>
		<string>但記這些事, 要叫你們信耶穌是基督, 是神的兒子. 並且叫你們信了祂, 就可以因祂的名得生命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 3:15 </string>
		<key>en</key>
		<string>And killed the Prince of life, whom God hath raised from the dead; whereof we are witnesses.</string>
		<key>zh_TW</key>
		<string>你們殺了那生命的主, 神卻叫祂從死裡復活了. 我們都是為這事作見證.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 11:18 </string>
		<key>en</key>
		<string>When they heard these things, they held their peace, and glorified God, saying, Then hath God also to the Gentiles granted repentance unto life.</string>
		<key>zh_TW</key>
		<string>眾人聽見這話, 就不言語了. 只歸榮耀與神, 說, 這樣看來, 神也賜恩給外邦人, 叫他們悔改得生命了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:18 </string>
		<key>en</key>
		<string>Therefore as by the offence of one judgment came upon all men to condemnation; even so by the righteousness of one the free gift came upon all men unto justification of life.</string>
		<key>zh_TW</key>
		<string>如此說來, 因一次的過犯, 眾人都被定罪, 照樣, 因一次的義行, 眾人也就被稱義得生命了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:6 </string>
		<key>en</key>
		<string>For to be carnally minded is death; but to be spiritually minded is life and peace.</string>
		<key>zh_TW</key>
		<string>體貼肉體的, 就是死, 體貼聖靈的, 乃是生命, 平安.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>腓利比書 2:16 </string>
		<key>en</key>
		<string>Holding forth the word of life; that I may rejoice in the day of Christ, that I have not run in vain, neither laboured in vain.</string>
		<key>zh_TW</key>
		<string>將生命的道表明出來, 叫我在基督的日子, 好誇我沒有空跑, 也沒有徒勞.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 3:3 </string>
		<key>en</key>
		<string>For ye are dead, and your life is hid with Christ in God.</string>
		<key>zh_TW</key>
		<string>因為你們已經死了, 你們的生命與基督一同藏在神裡面.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 3:4 </string>
		<key>en</key>
		<string>When Christ, who is our life, shall appear, then shall ye also appear with him in glory.</string>
		<key>zh_TW</key>
		<string>基督是我們的生命, 他顯現的時候, 你們也要與他一同顯現在榮耀裡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 6:19 </string>
		<key>en</key>
		<string>Laying up in store for themselves a good foundation against the time to come, that they may lay hold on eternal life.</string>
		<key>zh_TW</key>
		<string>為自己積成美好的根基, 預備將來, 叫他們持定那真正的生命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 1:10 </string>
		<key>en</key>
		<string>But is now made manifest by the appearing of our Saviour Jesus Christ, who hath abolished death, and hath brought life and immortality to light through the gospel:</string>
		<key>zh_TW</key>
		<string>但如今藉著我們救主基督耶穌的顯現, 才表明出來了. 祂已經把死廢去, 藉著福音, 將不能壞的生命彰顯出來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅各書 4:14 </string>
		<key>en</key>
		<string>Whereas ye know not what shall be on the morrow. For what is your life? It is even a vapour, that appeareth for a little time, and then vanisheth away.</string>
		<key>zh_TW</key>
		<string>其實明天如何, 你們還不知道. 你們的生命是甚麼呢. 你們原來是一片雲霧, 出現少時就不見了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 3:10 </string>
		<key>en</key>
		<string>For he that will love life, and see good days, let him refrain his tongue from evil, and his lips that they speak no guile:</string>
		<key>zh_TW</key>
		<string>因為經上說, [人若愛生命, 願享美福, 須要禁止舌頭不出惡言,嘴唇不說詭詐的話.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰壹書 5:12 </string>
		<key>en</key>
		<string>He that hath the Son hath life; and he that hath not the Son of God hath not life.</string>
		<key>zh_TW</key>
		<string>人有了神的兒子就有生命. 沒有神的兒子就沒有生命.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 3:5 </string>
		<key>en</key>
		<string>He that overcometh, the same shall be clothed in white raiment; and I will not blot out his name out of the book of life, but I will confess his name before my Father, and before his angels.</string>
		<key>zh_TW</key>
		<string>凡得勝的, 必這樣穿白衣. 我也必不從生命冊上塗抹他的名. 且要在我父面前, 和我父眾使者面前認他的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 20:15 </string>
		<key>en</key>
		<string>And whosoever was not found written in the book of life was cast into the lake of fire.</string>
		<key>zh_TW</key>
		<string>若有人名字沒有記在生命冊上, 他就被扔在火湖裡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>啟示錄 21:6 </string>
		<key>en</key>
		<string>And he said unto me, It is done. I am Alpha and Omega, the beginning and the end. I will give unto him that is athirst of the fountain of the water of life freely.</string>
		<key>zh_TW</key>
		<string>他又對我說, 都成了. 我是阿拉法, 我是俄梅戛, 我是初, 我是終. 我要將生命泉的水白白賜給那口渴的人喝.</string>
	</dict>
</array>
</plist>
