<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>箴言 10:22 </string>
		<key>en</key>
		<string>The blessing of the LORD, it maketh rich, and he addeth no sorrow with it.</string>
		<key>zh_TW</key>
		<string>耶和華所賜的福, 使人富足. 並不加上憂慮.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 12:25 </string>
		<key>en</key>
		<string>Heaviness in the heart of man maketh it stoop: but a good word maketh it glad.</string>
		<key>zh_TW</key>
		<string>人心憂慮, 屈而不伸. 一句良言, 使心歡樂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 14:13 </string>
		<key>en</key>
		<string>Even in laughter the heart is sorrowful; and the end of that mirth is heaviness.</string>
		<key>zh_TW</key>
		<string>人在喜笑中, 心也憂愁. 快樂至極, 就生愁苦.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 15:13 </string>
		<key>en</key>
		<string>A merry heart maketh a cheerful countenance: but by sorrow of the heart the spirit is broken.</string>
		<key>zh_TW</key>
		<string>心中喜樂, 面帶笑容. 心裡憂愁, 靈被損傷.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 29:2 </string>
		<key>en</key>
		<string>When the righteous are in authority, the people rejoice: but when the wicked beareth rule, the people mourn.</string>
		<key>zh_TW</key>
		<string>義人增多, 民就喜樂. 惡人掌權, 民就歎息.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>傳道書 7:3 </string>
		<key>en</key>
		<string>Sorrow is better than laughter: for by the sadness of the countenance the heart is made better.</string>
		<key>zh_TW</key>
		<string>憂愁強如喜笑, 因為面帶愁容, 終必使心喜樂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米哀歌 3:32 </string>
		<key>en</key>
		<string>But though he cause grief, yet will he have compassion according to the multitude of his mercies.</string>
		<key>zh_TW</key>
		<string>主雖使人憂愁, 還要照他諸般的慈愛發憐憫.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 6:25 </string>
		<key>en</key>
		<string>Therefore I say unto you, Take no thought for your life, what ye shall eat, or what ye shall drink; nor yet for your body, what ye shall put on. Is not the life more than meat, and the body than raiment?</string>
		<key>zh_TW</key>
		<string>所以我告訴你們, 不要為生命憂慮, 吃甚麼, 喝甚麼. 為身體憂慮, 穿甚麼. 生命不勝於飲食麼, 身體不勝於衣裳麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 6:28-29 </string>
		<key>en</key>
		<string>And why take ye thought for raiment? Consider the lilies of the field, how they grow; they toil not, neither do they spin: And yet I say unto you, That even Solomon in all his glory was not arrayed like one of these.</string>
		<key>zh_TW</key>
		<string>何必為衣裳憂慮呢. 你想野地裡的百合花, 怎樣長起來, 他也不勞苦, 也不紡線. 然而我告訴你們, 就是所羅門極榮華的時候, 那他所穿戴的, 還不如這花一朵呢.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 6:34 </string>
		<key>en</key>
		<string>Take therefore no thought for the morrow: for the morrow shall take thought for the things of itself. Sufficient unto the day is the evil thereof.</string>
		<key>zh_TW</key>
		<string>所以不要為明天憂慮. 因為明天自有明天的憂慮. 一天的難處一天當就夠了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 14:27 </string>
		<key>en</key>
		<string>Peace I leave with you, my peace I give unto you: not as the world giveth, give I unto you. Let not your heart be troubled, neither let it be afraid.</string>
		<key>zh_TW</key>
		<string>我留下平安給你們, 我將我的平安賜給你們. 我所賜的, 不像世人所賜的. 你們心裡不要憂愁, 也不要膽怯.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 16:20 </string>
		<key>en</key>
		<string>Verily, verily, I say unto you, That ye shall weep and lament, but the world shall rejoice: and ye shall be sorrowful, but your sorrow shall be turned into joy.</string>
		<key>zh_TW</key>
		<string>我實實在在的告訴你們, 你們將要痛哭, 哀號, 世人倒要喜樂. 你們將要憂愁, 然而你們的憂愁, 要變為喜樂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 16:22 </string>
		<key>en</key>
		<string>And ye now therefore have sorrow: but I will see you again, and your heart shall rejoice, and your joy no man taketh from you.</string>
		<key>zh_TW</key>
		<string>你們現在也是憂愁. 但我要再見你們, 你們的心就喜樂了. 這喜樂, 也沒有人能奪去.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:23 </string>
		<key>en</key>
		<string>And not only they, but ourselves also, which have the firstfruits of the Spirit, even we ourselves groan within ourselves, waiting for the adoption, to wit, the redemption of our body.</string>
		<key>zh_TW</key>
		<string>不但如此, 就是我們這有聖靈初結果子的, 也是自己心裡歎息, 等候得著兒子的名分, 乃是我們的身體得贖.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:26 </string>
		<key>en</key>
		<string>Likewise the Spirit also helpeth our infirmities: for we know not what we should pray for as we ought: but the Spirit itself maketh intercession for us with groanings which cannot be uttered.</string>
		<key>zh_TW</key>
		<string>況且我們的軟弱有聖靈幫助, 我們本不曉得當怎樣禱告, 只是聖靈親自用說不出來的歎息, 替我們禱告.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 5:2 </string>
		<key>en</key>
		<string>For in this we groan, earnestly desiring to be clothed upon with our house which is from heaven:</string>
		<key>zh_TW</key>
		<string>我們在這帳棚裡歎息, 深想得那從天上來的房屋, 好像穿上衣服.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 5:4 </string>
		<key>en</key>
		<string>For we that are in this tabernacle do groan, being burdened: not for that we would be unclothed, but clothed upon, that mortality might be swallowed up of life.</string>
		<key>zh_TW</key>
		<string>我們在這帳棚裡, 歎息勞苦, 並非願意脫下這個, 乃是願意穿上那個, 好叫這必死的被生命吞滅了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 6:10 </string>
		<key>en</key>
		<string>As sorrowful, yet alway rejoicing; as poor, yet making many rich; as having nothing, and yet possessing all things.</string>
		<key>zh_TW</key>
		<string>似乎憂愁, 卻是常常快樂的. 似乎貧窮, 卻是叫許多人富足的. 似乎一無所有, 卻是樣樣都有的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 7:9 </string>
		<key>en</key>
		<string>Now I rejoice, not that ye were made sorry, but that ye sorrowed to repentance: for ye were made sorry after a godly manner, that ye might receive damage by us in nothing.</string>
		<key>zh_TW</key>
		<string>如今我歡喜, 不是因你們憂愁, 是因你們從憂愁中生出懊悔來. 你們依著神的意思憂愁, 凡事就不至於因我們受虧損了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 7:10 </string>
		<key>en</key>
		<string>For godly sorrow worketh repentance to salvation not to be repented of: but the sorrow of the world worketh death.</string>
		<key>zh_TW</key>
		<string>因為依著神的意思憂愁, 就生出沒有後悔的懊悔來, 以致得救. 但世俗的憂愁, 是叫人死.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 7:11 </string>
		<key>en</key>
		<string>For behold this selfsame thing, that ye sorrowed after a godly sort, what carefulness it wrought in you, yea, what clearing of yourselves, yea, what indignation, yea, what fear, yea, what vehement desire, yea, what zeal, yea, what revenge! In all things ye have approved yourselves to be clear in this matter.</string>
		<key>zh_TW</key>
		<string>你看, 你們依著神的意思憂愁, 從此就生出何等的殷勤, 自訴, 自恨, 恐懼, 想念, 熱心, 責罰 ((或作自責)), 在這一切事上你們都表明自己是潔淨的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 1:6 </string>
		<key>en</key>
		<string>Wherein ye greatly rejoice, though now for a season, if need be, ye are in heaviness through manifold temptations:</string>
		<key>zh_TW</key>
		<string>因此, 你們是大有喜樂, 但如今, 在百般的試煉中暫時憂愁.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 5:7 </string>
		<key>en</key>
		<string>Casting all your care upon him; for he careth for you.</string>
		<key>zh_TW</key>
		<string>你們要將一切的憂慮卸給神, 因為祂顧念你們.</string>
	</dict>
</array>
</plist>
