<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>詩篇 86:5 </string>
		<key>en</key>
		<string>For thou, Lord, art good, and ready to forgive; and plenteous in mercy unto all them that call upon thee.</string>
		<key>zh_TW</key>
		<string>主阿, 你本為良善, 樂意饒恕人, 有豐盛的慈愛, 賜給凡求告你的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>但以理書 9:9 </string>
		<key>en</key>
		<string>To the Lord our God belong mercies and forgivenesses, though we have rebelled against him;</string>
		<key>zh_TW</key>
		<string>主我們的神是憐憫饒恕人的, 我們卻違背了他,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彌迦書 7:18 </string>
		<key>en</key>
		<string>Who is a God like unto thee, that pardoneth iniquity, and passeth by the transgression of the remnant of his heritage? he retaineth not his anger for ever, because he delighteth in mercy.</string>
		<key>zh_TW</key>
		<string>神阿, 有何神像你, 赦免罪孽, 饒恕你產業之餘民的罪過. 不永遠懷怒, 喜愛施恩.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 6:14 </string>
		<key>en</key>
		<string>For if ye forgive men their trespasses, your heavenly Father will also forgive you:</string>
		<key>zh_TW</key>
		<string>你們饒恕人的過犯, 你們的天父也必饒恕你們的過犯.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 6:15 </string>
		<key>en</key>
		<string>But if ye forgive not men their trespasses, neither will your Father forgive your trespasses.</string>
		<key>zh_TW</key>
		<string>你們不饒恕人的過犯, 你們的天父也必不饒恕你們的過犯.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 18:35 </string>
		<key>en</key>
		<string>So likewise shall my heavenly Father do also unto you, if ye from your hearts forgive not every one his brother their trespasses.</string>
		<key>zh_TW</key>
		<string>你們各人若不從心裡饒恕你的弟兄, 我天父也要這樣待你們了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬可福音 11:25 </string>
		<key>en</key>
		<string>And when ye stand praying, forgive, if ye have ought against any: that your Father also which is in heaven may forgive you your trespasses.</string>
		<key>zh_TW</key>
		<string>你們站著禱告的時候, 若想起有人得罪你們, 就當饒恕他, 好叫你們在天上的父, 也饒恕你們的過犯.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 6:37 </string>
		<key>en</key>
		<string>Judge not, and ye shall not be judged: condemn not, and ye shall not be condemned: forgive, and ye shall be forgiven:</string>
		<key>zh_TW</key>
		<string>你們不要論斷人, 就不被論斷. 你們不要定人的罪, 就不被定罪. 你們要饒恕人, 就必蒙饒恕. ((饒恕原文作釋放))</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 17:3 </string>
		<key>en</key>
		<string>Take heed to yourselves: If thy brother trespass against thee, rebuke him; and if he repent, forgive him.</string>
		<key>zh_TW</key>
		<string>你們要謹慎. 若是你們的弟兄得罪你, 就勸戒他. 他若懊悔, 就饒恕他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 17:4 </string>
		<key>en</key>
		<string>And if he trespass against thee seven times in a day, and seven times in a day turn again to thee, saying, I repent; thou shalt forgive him.</string>
		<key>zh_TW</key>
		<string>倘若他一天七次得罪你, 又七次回轉說, 我懊悔了, 你總要饒恕他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 13:7 </string>
		<key>en</key>
		<string>Beareth all things, believeth all things, hopeth all things, endureth all things.</string>
		<key>zh_TW</key>
		<string>凡事包容. 凡事相信. 凡事盼望. 凡事忍耐.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 4:32 </string>
		<key>en</key>
		<string>And be ye kind one to another, tenderhearted, forgiving one another, even as God for Christ's sake hath forgiven you.</string>
		<key>zh_TW</key>
		<string>並要以恩慈相待, 存憐憫的心, 彼此饒恕, 正如神在基督裡饒恕了你們一樣.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 3:13 </string>
		<key>en</key>
		<string>Forbearing one another, and forgiving one another, if any man have a quarrel against any: even as Christ forgave you, so also do ye.</string>
		<key>zh_TW</key>
		<string>倘若這人與那人有嫌隙, 總要彼此包容, 彼此饒恕. 主怎樣饒恕了你們, 你們也要怎樣饒恕人.</string>
	</dict>
</array>
</plist>
