<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>約伯記 22:29 </string>
		<key>en</key>
		<string>When men are cast down, then thou shalt say, There is lifting up; and he shall save the humble person.</string>
		<key>zh_TW</key>
		<string>人使你降卑, 你仍可說, 必得高升. 謙卑的人神必拯救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 25:9 </string>
		<key>en</key>
		<string>The meek will he guide in judgment: and the meek will he teach his way.</string>
		<key>zh_TW</key>
		<string>他必按公平引領謙卑人, 將他的道教訓他們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 76:9 </string>
		<key>en</key>
		<string>When God arose to judgment, to save all the meek of the earth. Selah.</string>
		<key>zh_TW</key>
		<string>神起來施行審判, 要救地上一切謙卑的人. 那時地就懼怕而靜默. ((細拉))</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 147:6 </string>
		<key>en</key>
		<string>The LORD lifteth up the meek: he casteth the wicked down to the ground.</string>
		<key>zh_TW</key>
		<string>耶和華扶持謙卑人, 將惡人傾覆於地.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 3:34 </string>
		<key>en</key>
		<string>Surely he scorneth the scorners: but he giveth grace unto the lowly.</string>
		<key>zh_TW</key>
		<string>他譏誚那好譏誚的人, 賜恩給謙卑的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 15:33 </string>
		<key>en</key>
		<string>The fear of the LORD is the instruction of wisdom; and before honour is humility.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華, 是智慧的訓誨. 尊榮以前, 必有謙卑.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 18:12 </string>
		<key>en</key>
		<string>Before destruction the heart of man is haughty, and before honour is humility.</string>
		<key>zh_TW</key>
		<string>敗壞之先, 人心驕傲. 尊榮以前, 必有謙卑.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 22:4 </string>
		<key>en</key>
		<string>By humility and the fear of the LORD are riches, and honour, and life.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華心存謙卑, 就得富有, 尊榮, 生命, 為賞賜.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 57:15 </string>
		<key>en</key>
		<string>For thus saith the high and lofty One that inhabiteth eternity, whose name is Holy; I dwell in the high and holy place, with him also that is of a contrite and humble spirit, to revive the spirit of the humble, and to revive the heart of the contrite ones.</string>
		<key>zh_TW</key>
		<string>因為那至高至上, 永遠長存, ((原文作住在永遠)) 名為聖者的如此說,我住在至高至聖的所在, 也與心靈痛悔謙卑的人同居, 要使謙卑人的靈甦醒, 也使痛悔人的心甦醒.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彌迦書 6:8 </string>
		<key>en</key>
		<string>He hath shewed thee, O man, what is good; and what doth the LORD require of thee, but to do justly, and to love mercy, and to walk humbly with thy God?</string>
		<key>zh_TW</key>
		<string>世人哪, 耶和華已指示你何為善. 他向你所要的是甚麼呢. 只要你行公義, 好憐憫, 存謙卑的心, 與你的神同行.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>西番雅書 2:3 </string>
		<key>en</key>
		<string>Seek ye the LORD, all ye meek of the earth, which have wrought his judgment; seek righteousness, seek meekness: it may be ye shall be hid in the day of the LORD's anger.</string>
		<key>zh_TW</key>
		<string>世上遵守耶和華典章的謙卑人哪, 你們都當尋求耶和華. 當尋求公義謙卑, 或者在耶和華發怒的日子, 可以隱藏起來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 11:29 </string>
		<key>en</key>
		<string>Take my yoke upon you, and learn of me; for I am meek and lowly in heart: and ye shall find rest unto your souls.</string>
		<key>zh_TW</key>
		<string>我心裡柔和謙卑, 你們當負我的軛, 學我的樣式, 這樣, 你們心裡就必得享安息.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬太福音 18:4 </string>
		<key>en</key>
		<string>Whosoever therefore shall humble himself as this little child, the same is greatest in the kingdom of heaven.</string>
		<key>zh_TW</key>
		<string>所以凡自己謙卑像這小孩子的, 他在天國裡就是最大的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>腓利比書 2:3 </string>
		<key>en</key>
		<string>Let nothing be done through strife or vainglory; but in lowliness of mind let each esteem other better than themselves.</string>
		<key>zh_TW</key>
		<string>凡事不可結黨, 不可貪圖虛浮的榮耀. 只要存心謙卑, 各人看別人比自己強.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 5:5 </string>
		<key>en</key>
		<string>Likewise, ye younger, submit yourselves unto the elder. Yea, all of you be subject one to another, and be clothed with humility: for God resisteth the proud, and giveth grace to the humble.</string>
		<key>zh_TW</key>
		<string>你們年幼的, 也要順服年長的. 就是你們眾人, 也都要以謙卑束腰, 彼此順服. 因為神阻擋驕傲的人, 賜恩給謙卑的人.</string>
	</dict>
</array>
</plist>
