<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>約伯記 4:6 </string>
		<key>en</key>
		<string>Is not this thy fear, thy confidence, thy hope, and the uprightness of thy ways?</string>
		<key>zh_TW</key>
		<string>4:6 你的倚靠, 不是在你敬畏神麼. 你的盼望, 不是在你行事純正麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 62:5 </string>
		<key>en</key>
		<string>My soul, wait thou only upon God; for my expectation is from him.</string>
		<key>zh_TW</key>
		<string>我的心哪, 你當默默無聲, 專等候神. 因為我的盼望是從祂而來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 71:5 </string>
		<key>en</key>
		<string>For thou art my hope, O Lord GOD: thou art my trust from my youth.</string>
		<key>zh_TW</key>
		<string>主耶和華阿, 你是我所盼望的. 從我年幼你是我所倚靠的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 71:14 </string>
		<key>en</key>
		<string>But I will hope continually, and will yet praise thee more and more.</string>
		<key>zh_TW</key>
		<string>我卻要常常盼望, 並要越發讚美你.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 119:49 </string>
		<key>en</key>
		<string>Remember the word unto thy servant, upon which thou hast caused me to hope.</string>
		<key>zh_TW</key>
		<string>求你記念向你僕人所應許的話, 叫我有盼望.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 147:11 </string>
		<key>en</key>
		<string>The LORD taketh pleasure in them that fear him, in those that hope in his mercy.</string>
		<key>zh_TW</key>
		<string>耶和華喜愛敬畏祂和盼望祂慈愛的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 10:28 </string>
		<key>en</key>
		<string>The hope of the righteous shall be gladness: but the expectation of the wicked shall perish.</string>
		<key>zh_TW</key>
		<string>義人的盼望, 必得喜樂. 惡人的指望, 必至滅沒.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 11:7 </string>
		<key>en</key>
		<string>When a wicked man dieth, his expectation shall perish: and the hope of unjust men perisheth.</string>
		<key>zh_TW</key>
		<string>惡人一死, 他的指望必滅絕. 罪人的盼望, 也必滅沒.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 13:16 </string>
		<key>en</key>
		<string>Give glory to the LORD your God, before he cause darkness, and before your feet stumble upon the dark mountains, and, while ye look for light, he turn it into the shadow of death, and make it gross darkness.</string>
		<key>zh_TW</key>
		<string>耶和華你們的神未使黑暗來到, 你們的腳未在昏暗山上絆跌之先, 當將榮耀歸給他. 免得你們盼望光明, 他使光明變為死蔭, 成為幽暗.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 17:13 </string>
		<key>en</key>
		<string>O LORD, the hope of Israel, all that forsake thee shall be ashamed, and they that depart from me shall be written in the earth, because they have forsaken the LORD, the fountain of living waters.</string>
		<key>zh_TW</key>
		<string>耶和華以色列的盼望阿, 凡離棄你的, 必至蒙羞. 耶和華說, 離開我的, 他們的名字必寫在土裡,因為他們離棄我這活水的泉源.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:2 </string>
		<key>en</key>
		<string>By whom also we have access by faith into this grace wherein we stand, and rejoice in hope of the glory of God.</string>
		<key>zh_TW</key>
		<string>我們又藉著祂, 因信得進入現在所站的恩典中, 並且歡歡喜喜盼望神的榮耀.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:3 </string>
		<key>en</key>
		<string>And not only so, but we glory in tribulations also: knowing that tribulation worketh patience;</string>
		<key>zh_TW</key>
		<string>不但如此, 就是在患難中, 也是歡歡喜喜的. 因為知道患難生忍耐.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:4 </string>
		<key>en</key>
		<string>And patience, experience; and experience, hope:</string>
		<key>zh_TW</key>
		<string>忍耐生老練. 老練生盼望.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:5 </string>
		<key>en</key>
		<string>And hope maketh not ashamed; because the love of God is shed abroad in our hearts by the Holy Ghost which is given unto us.</string>
		<key>zh_TW</key>
		<string>盼望不至於羞恥, 因為所賜給我們的聖靈將神的愛澆灌在我們心裡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:24 </string>
		<key>en</key>
		<string>For we are saved by hope: but hope that is seen is not hope: for what a man seeth, why doth he yet hope for?</string>
		<key>zh_TW</key>
		<string>我們得救是在乎盼望. 只是所見的盼望不是盼望. 誰還盼望他所見的呢. ((有古卷作人所看見的何必再盼望呢))</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:25 </string>
		<key>en</key>
		<string>But if we hope for that we see not, then do we with patience wait for it.</string>
		<key>zh_TW</key>
		<string>但我們若盼望那所不見的, 就必忍耐等候.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 15:13 </string>
		<key>en</key>
		<string>Now the God of hope fill you with all joy and peace in believing, that ye may abound in hope, through the power of the Holy Ghost.</string>
		<key>zh_TW</key>
		<string>但願使人有盼望的神, 因信將諸般的喜樂平安, 充滿你們的心, 使你們藉著聖靈的能力, 大有盼望.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 13:7 </string>
		<key>en</key>
		<string>Beareth all things, believeth all things, hopeth all things, endureth all things.</string>
		<key>zh_TW</key>
		<string>凡事包容. 凡事相信. 凡事盼望. 凡事忍耐.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>加拉太書 5:5 </string>
		<key>en</key>
		<string>For we through the Spirit wait for the hope of righteousness by faith.</string>
		<key>zh_TW</key>
		<string>我們靠著.聖靈, 憑著信心, 等候所盼望的義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 1:12 </string>
		<key>en</key>
		<string>That we should be to the praise of his glory, who first trusted in Christ.</string>
		<key>zh_TW</key>
		<string>叫他的榮耀, 從我們這首先在基督裡有盼望的人, 可以得著稱讚.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>腓利比書 1:20 </string>
		<key>en</key>
		<string>According to my earnest expectation and my hope, that in nothing I shall be ashamed, but that with all boldness, as always, so now also Christ shall be magnified in my body, whether it be by life, or by death.</string>
		<key>zh_TW</key>
		<string>照著我所切慕所盼望的, 沒有一事教我羞愧, 只要凡事放膽. 無論是生, 是死, 總叫基督在我身上照常顯大.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 1:23 </string>
		<key>en</key>
		<string>If ye continue in the faith grounded and settled, and be not moved away from the hope of the gospel, which ye have heard, and which was preached to every creature which is under heaven; whereof I Paul am made a minister;</string>
		<key>zh_TW</key>
		<string>只要你們在所信的道上恆心, 根基穩固, 堅定不移, 不至被引動失去(.原文作離開.)福音的盼望. 這福音就是你們所聽過的, 也是傳與普天下萬人聽的. (.萬人原文作凡受造的.) 我保羅也作了這福音的執事.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歌羅西書 1:27 </string>
		<key>en</key>
		<string>To whom God would make known what is the riches of the glory of this mystery among the Gentiles; which is Christ in you, the hope of glory:</string>
		<key>zh_TW</key>
		<string>神願意叫他們知道, 這奧秘在外邦人中有何等豐盛的榮耀. 就是基督在你們心裡成了有榮耀的盼望.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦前書 5:8 </string>
		<key>en</key>
		<string>But let us, who are of the day, be sober, putting on the breastplate of faith and love; and for an helmet, the hope of salvation.</string>
		<key>zh_TW</key>
		<string>但我們既然屬乎白晝, 就應當謹守, 把信和愛當作護心鏡遮胸. 把得救的盼望當作頭盔戴上.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦後書 2:16 </string>
		<key>en</key>
		<string>Now our Lord Jesus Christ himself, and God, even our Father, which hath loved us, and hath given us everlasting consolation and good hope through grace,</string>
		<key>zh_TW</key>
		<string>但願我們主耶穌基督, 和那愛我們, 開恩將永遠的安慰, 並美好的盼望, 賜給我們的父神,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提多書 1:2 </string>
		<key>en</key>
		<string>In hope of eternal life, which God, that cannot lie, promised before the world began;</string>
		<key>zh_TW</key>
		<string>盼望那無謊言的神在萬古之先所應許的永生,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提多書 2:13 </string>
		<key>en</key>
		<string>Looking for that blessed hope, and the glorious appearing of the great God and our Saviour Jesus Christ;</string>
		<key>zh_TW</key>
		<string>等候所盼望的福, 並等候至大的神, 和 ((或作無和字)) 我們救主耶穌基督的榮耀顯現.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提多書 3:7 </string>
		<key>en</key>
		<string>That being justified by his grace, we should be made heirs according to the hope of eternal life.</string>
		<key>zh_TW</key>
		<string>好叫我們因他的恩得稱為義, 可以憑著永生的盼望成為後嗣. ((或作可以憑著盼望承受永生)).</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 3:6 </string>
		<key>en</key>
		<string>But Christ as a son over his own house; whose house are we, if we hold fast the confidence and the rejoicing of the hope firm unto the end.</string>
		<key>zh_TW</key>
		<string>但基督為兒子, 治理神的家. 我們若將可誇的盼望和膽量, 堅持到底, 便是他的家了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 1:3 </string>
		<key>en</key>
		<string>Blessed be the God and Father of our Lord Jesus Christ, which according to his abundant mercy hath begotten us again unto a lively hope by the resurrection of Jesus Christ from the dead,</string>
		<key>zh_TW</key>
		<string>願頌讚歸與我們的主耶穌基督的父神, 他曾照自己的大憐憫, 藉耶穌基督從死裡復活重生了我們, 教我們有活潑的盼望,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 1:13 </string>
		<key>en</key>
		<string>Wherefore gird up the loins of your mind, be sober, and hope to the end for the grace that is to be brought unto you at the revelation of Jesus Christ;</string>
		<key>zh_TW</key>
		<string>所以要約束你們的心((原文作束上你們心中的腰)), 謹慎自守, 專心盼望耶穌基督顯現的時候所帶來給你們的恩.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 1:21 </string>
		<key>en</key>
		<string>Who by him do believe in God, that raised him up from the dead, and gave him glory; that your faith and hope might be in God.</string>
		<key>zh_TW</key>
		<string>你們也因信著祂, 信那叫祂從死裡復活, 又給祂榮耀的神, 叫你們的信心, 和盼望, 都在於神.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 3:15 </string>
		<key>en</key>
		<string>But sanctify the Lord God in your hearts: and be ready always to give an answer to every man that asketh you a reason of the hope that is in you with meekness and fear:</string>
		<key>zh_TW</key>
		<string>只要心裡尊主基督為聖. 有人問你們心中盼望的緣由, 就要常作準備, 以溫柔敬畏的心回答各人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得後書 3:13 </string>
		<key>en</key>
		<string>Nevertheless we, according to his promise, look for new heavens and a new earth, wherein dwelleth righteousness.</string>
		<key>zh_TW</key>
		<string>但我們照他的應許, 盼望新天新地, 有義居在其中.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得後書 3:14 </string>
		<key>en</key>
		<string>Wherefore, beloved, seeing that ye look for such things, be diligent that ye may be found of him in peace, without spot, and blameless.</string>
		<key>zh_TW</key>
		<string>親愛的弟兄阿, 你們既盼望這些事, 就當殷勤, 使自己沒有玷污, 無可指摘, 安然見主.</string>
	</dict>
</array>
</plist>
