<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>馬太福音 10:22 </string>
		<key>en</key>
		<string>And ye shall be hated of all men for my name's sake: but he that endureth to the end shall be saved.</string>
		<key>zh_TW</key>
		<string>並且你們要為我的名, 被眾人恨惡, 惟有忍耐到底的, 必然得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>馬可福音 16:16 </string>
		<key>en</key>
		<string>He that believeth and is baptized shall be saved; but he that believeth not shall be damned.</string>
		<key>zh_TW</key>
		<string>信而受洗的必然得救. 不信的必被定罪.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>路加福音 8:50 </string>
		<key>en</key>
		<string>But when Jesus heard it, he answered him, saying, Fear not: believe only, and she shall be made whole.</string>
		<key>zh_TW</key>
		<string>耶穌聽見就對他說, 不要怕, 只要信, 你的女兒就必得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 3:17 </string>
		<key>en</key>
		<string>For God sent not his Son into the world to condemn the world; but that the world through him might be saved.</string>
		<key>zh_TW</key>
		<string>因為神差祂的兒子降世, 不是要定世人的罪, ((或作審判世人下同)) 乃是要叫世人因祂得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約翰福音 10:9 </string>
		<key>en</key>
		<string>I am the door: by me if any man enter in, he shall be saved, and shall go in and out, and find pasture.</string>
		<key>zh_TW</key>
		<string>我就是門. 凡從我進來的, 必然得救, 並且出入得草吃.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 2:17~21 </string>
		<key>en</key>
		<string>And it shall come to pass in the last days, saith God, I will pour out of my Spirit upon all flesh: and your sons and your daughters shall prophesy, and your young men shall see visions, and your old men shall dream dreams: And on my servants and on my handmaidens I will pour out in those days of my Spirit; and they shall prophesy: And I will shew wonders in heaven above, and signs in the earth beneath; blood, and fire, and vapour of smoke: The sun shall be turned into darkness, and the moon into blood, before the great and notable day of the Lord come: And it shall come to pass, that whosoever shall call on the name of the Lord shall be saved.</string>
		<key>zh_TW</key>
		<string>[神說, 在末後的日子, 我要將我的靈澆灌凡有血氣的. 你們的兒女 要說預言. 你們的少年人要見異象. 老年人要作異夢. 在那些日子, 我要將我的靈澆灌我的僕人和使女, 他們就要說預言. 在天上我要顯出奇事, 在地下我要顯出神蹟, 有血, 有火, 有煙霧. 日頭要變為黑暗, 月亮要變為血, 這都在主大而明顯的日子未到以前. 到那時候, 凡求告主名的, 就必得救.]</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 4:12 </string>
		<key>en</key>
		<string>Neither is there salvation in any other: for there is none other name under heaven given among men, whereby we must be saved.</string>
		<key>zh_TW</key>
		<string>除祂以外, 別無拯救. 因為在天下人間, 沒有賜下別的名, 我們可以靠著得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 15:11 </string>
		<key>en</key>
		<string>But we believe that through the grace of the LORD Jesus Christ we shall be saved, even as they.</string>
		<key>zh_TW</key>
		<string>我們得救, 乃是因主耶穌的恩, 和他們一樣, 這是我們所信的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>使徒行傳 16:31 </string>
		<key>en</key>
		<string>And they said, Believe on the Lord Jesus Christ, and thou shalt be saved, and thy house.</string>
		<key>zh_TW</key>
		<string>他們說, 當信主耶穌, 你和你一家都必得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 5:10 </string>
		<key>en</key>
		<string>For if, when we were enemies, we were reconciled to God by the death of his Son, much more, being reconciled, we shall be saved by his life.</string>
		<key>zh_TW</key>
		<string>因為我們作仇敵的時候, 且藉著神兒子的死, 得與神和好, 既已和好, 就更要因祂的生得救了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 8:24 </string>
		<key>en</key>
		<string>For we are saved by hope: but hope that is seen is not hope: for what a man seeth, why doth he yet hope for?</string>
		<key>zh_TW</key>
		<string>我們得救是在乎盼望. 只是所見的盼望不是盼望. 誰還盼望他所見的呢. ((有古卷作人所看見的何必再盼望呢))</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 10:9 </string>
		<key>en</key>
		<string>That if thou shalt confess with thy mouth the Lord Jesus, and shalt believe in thine heart that God hath raised him from the dead, thou shalt be saved.</string>
		<key>zh_TW</key>
		<string>你若口裡認耶穌為主, 心裡信神叫他從死裡復活, 就必得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 10:10 </string>
		<key>en</key>
		<string>For with the heart man believeth unto righteousness; and with the mouth confession is made unto salvation.</string>
		<key>zh_TW</key>
		<string>因為人心裡相信, 就可以稱義. 口裡承認, 就可以得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 10:13 </string>
		<key>en</key>
		<string>For whosoever shall call upon the name of the Lord shall be saved.</string>
		<key>zh_TW</key>
		<string>因為 [凡求告主名的, 就必得救.]</string>
	</dict>
	<dict>
		<key>address</key>
		<string>羅馬書 13:11 </string>
		<key>en</key>
		<string>And that, knowing the time, that now it is high time to awake out of sleep: for now is our salvation nearer than when we believed.</string>
		<key>zh_TW</key>
		<string>再者, 你們曉得現今就是該趁早睡醒的時候, 因為我們得救, 現今比初信的時候更近了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 1:18 </string>
		<key>en</key>
		<string>For the preaching of the cross is to them that perish foolishness; but unto us which are saved it is the power of God.</string>
		<key>zh_TW</key>
		<string>因為十字架的道理, 在那滅亡的人為愚拙. 在我們得救的人卻為神的大能.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 3:15 </string>
		<key>en</key>
		<string>If any man's work shall be burned, he shall suffer loss: but he himself shall be saved; yet so as by fire.</string>
		<key>zh_TW</key>
		<string>人的工程若被燒了, 他就要受虧損. 自己卻要得救. 雖然得救乃像從火裡經過的一樣.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 15:2 </string>
		<key>en</key>
		<string>By which also ye are saved, if ye keep in memory what I preached unto you, unless ye have believed in vain.</string>
		<key>zh_TW</key>
		<string>並且你們若不是徒然相信, 能以持守我所傳給你們的, 就必因這福音得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 7:10 </string>
		<key>en</key>
		<string>For godly sorrow worketh repentance to salvation not to be repented of: but the sorrow of the world worketh death.</string>
		<key>zh_TW</key>
		<string>因為依著神的意思憂愁, 就生出沒有後悔的懊悔來, 以致得救. 但世俗的憂愁, 是叫人死.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>加拉太書 3:23 </string>
		<key>en</key>
		<string>But before faith came, we were kept under the law, shut up unto the faith which should afterwards be revealed.</string>
		<key>zh_TW</key>
		<string>但這因信得救的理, 還未來以先, 我們被看守在律法之下,直圈到那將來的真道顯明出來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>加拉太書 3:25 </string>
		<key>en</key>
		<string>But after that faith is come, we are no longer under a schoolmaster.</string>
		<key>zh_TW</key>
		<string>但這因信得救的理, 既然來到, 我們從此就不在師傅的手下了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 1:13 </string>
		<key>en</key>
		<string>In whom ye also trusted, after that ye heard the word of truth, the gospel of your salvation: in whom also after that ye believed, ye were sealed with that holy Spirit of promise,</string>
		<key>zh_TW</key>
		<string>你們既聽見真理的道, 就是那叫你們得救的福音, 也信了基督, 既然信他, 就受了所應許的聖靈為印記.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 2:5 </string>
		<key>en</key>
		<string>Even when we were dead in sins, hath quickened us together with Christ, (by grace ye are saved;)</string>
		<key>zh_TW</key>
		<string>當我們死在過犯中的時候, 便叫我們與基督一同活過來. (你們得救是本乎恩)</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以弗所書 2:8 </string>
		<key>en</key>
		<string>For by grace are ye saved through faith; and that not of yourselves: it is the gift of God:</string>
		<key>zh_TW</key>
		<string>你們得救是本乎恩, 也因著信, 這並不是出於自己, 乃是神所賜的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>腓利比書 1:19 </string>
		<key>en</key>
		<string>For I know that this shall turn to my salvation through your prayer, and the supply of the Spirit of Jesus Christ,</string>
		<key>zh_TW</key>
		<string>因為我知道這事藉著你們的祈禱, 和耶穌基督之靈的幫助, 終必叫我得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦前書 5:8 </string>
		<key>en</key>
		<string>But let us, who are of the day, be sober, putting on the breastplate of faith and love; and for an helmet, the hope of salvation.</string>
		<key>zh_TW</key>
		<string>但我們既然屬乎白晝, 就應當謹守, 把信和愛當作護心鏡遮胸. 把得救的盼望當作頭盔戴上.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦前書 5:9-10 </string>
		<key>en</key>
		<string>For God hath not appointed us to wrath, but to obtain salvation by our Lord Jesus Christ, Who died for us, that, whether we wake or sleep, we should live together with him.</string>
		<key>zh_TW</key>
		<string>因為神不是預定我們受刑, 乃是預定我們藉著我們主耶穌基督得救. 他替我們死, 叫我們無論醒著睡著, 都與他同活.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>帖撒羅尼迦後書 2:13 </string>
		<key>en</key>
		<string>But we are bound to give thanks alway to God for you, brethren beloved of the Lord, because God hath from the beginning chosen you to salvation through sanctification of the Spirit and belief of the truth:</string>
		<key>zh_TW</key>
		<string>主所愛的弟兄哪, 我們本該常為你們感謝神. 因為他從起初揀選了你們, 叫你們因信真道, 又被聖靈感動, 成為聖潔, 能以得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 2:15 </string>
		<key>en</key>
		<string>Notwithstanding she shall be saved in childbearing, if they continue in faith and charity and holiness with sobriety.</string>
		<key>zh_TW</key>
		<string>然而女人若常存信心愛心, 又聖潔自守, 就必在生產上得救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太後書 3:15 </string>
		<key>en</key>
		<string>And that from a child thou hast known the holy scriptures, which are able to make thee wise unto salvation through faith which is in Christ Jesus.</string>
		<key>zh_TW</key>
		<string>並且知道你是從小明白聖經. 這聖經能使你因信基督耶穌有得救的智慧.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 5:9 </string>
		<key>en</key>
		<string>And being made perfect, he became the author of eternal salvation unto all them that obey him;</string>
		<key>zh_TW</key>
		<string>他既得以完全, 就為凡順從的的人, 成了永遠得救的根源.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 10:39 </string>
		<key>en</key>
		<string>But we are not of them who draw back unto perdition; but of them that believe to the saving of the soul.</string>
		<key>zh_TW</key>
		<string>我們卻不是退後入沉淪的那等人, 乃是有信心以致靈魂得救的人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>希伯來書 11:7 </string>
		<key>en</key>
		<string>By faith Noah, being warned of God of things not seen as yet, moved with fear, prepared an ark to the saving of his house; by the which he condemned the world, and became heir of the righteousness which is by faith.</string>
		<key>zh_TW</key>
		<string>挪亞因著信, 既蒙神指示他未見的事, 動了敬畏的心, 預備了一隻方舟, 使他全家得救. 因此就定了那世代的罪, 自己也承受了那從信而來的義.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>彼得前書 4:18 </string>
		<key>en</key>
		<string>And if the righteous scarcely be saved, where shall the ungodly and the sinner appear?</string>
		<key>zh_TW</key>
		<string>若是義人僅僅得救, 那不虔敬和犯罪的人, 將有何地可站呢.</string>
	</dict>
</array>
</plist>
