<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>箴言 13:20 </string>
		<key>en</key>
		<string>He that walketh with wise men shall be wise: but a companion of fools shall be destroyed.</string>
		<key>zh_TW</key>
		<string>與智慧人同行的, 必得智慧. 和愚昧人作伴的, 必受虧損.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多前書 3:15 </string>
		<key>en</key>
		<string>If any man's work shall be burned, he shall suffer loss: but he himself shall be saved; yet so as by fire.</string>
		<key>zh_TW</key>
		<string>人的工程若被燒了, 他就要受虧損. 自己卻要得救. 雖然得救乃像從火裡經過的一樣.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>哥林多後書 7:9 </string>
		<key>en</key>
		<string>Now I rejoice, not that ye were made sorry, but that ye sorrowed to repentance: for ye were made sorry after a godly manner, that ye might receive damage by us in nothing.</string>
		<key>zh_TW</key>
		<string>如今我歡喜, 不是因你們憂愁, 是因你們從憂愁中生出懊悔來. 你們依著神的意思憂愁, 凡事就不至於因我們受虧損了.</string>
	</dict>
</array>
</plist>
