<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>撒母耳記上 23:16 </string>
		<key>en</key>
		<string>And Jonathan Saul's son arose, and went to David into the wood, and strengthened his hand in God.</string>
		<key>zh_TW</key>
		<string>掃羅的兒子約拿單起身, 往那樹林裡去見大衛, 使他倚靠神得以堅固,</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒母耳記下 22:19 </string>
		<key>en</key>
		<string>They prevented me in the day of my calamity: but the LORD was my stay.</string>
		<key>zh_TW</key>
		<string>我遭遇災難的日子, 他們來攻擊我. 但耶和華是我的倚靠.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約伯記 4:6 </string>
		<key>en</key>
		<string>Is not this thy fear, thy confidence, thy hope, and the uprightness of thy ways?</string>
		<key>zh_TW</key>
		<string>你的倚靠, 不是在你敬畏神麼. 你的盼望, 不是在你行事純正麼.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約伯記 24:23 </string>
		<key>en</key>
		<string>Though it be given him to be in safety, whereon he resteth; yet his eyes are upon their ways.</string>
		<key>zh_TW</key>
		<string>神使他們安穩, 他們就有所倚靠. 神的眼目也看顧他們的道路.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 28:7 </string>
		<key>en</key>
		<string>The LORD is my strength and my shield; my heart trusted in him, and I am helped: therefore my heart greatly rejoiceth; and with my song will I praise him.</string>
		<key>zh_TW</key>
		<string>耶和華是我的力量, 是我的盾牌. 我心裡倚靠祂, 就得幫助. 所以我心中歡樂. 我必用詩歌頌讚祂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 32:10 </string>
		<key>en</key>
		<string>Many sorrows shall be to the wicked: but he that trusteth in the LORD, mercy shall compass him about.</string>
		<key>zh_TW</key>
		<string>惡人必多受苦楚. 惟獨倚靠耶和華的, 必有慈愛四面環繞他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 37:3 </string>
		<key>en</key>
		<string>Trust in the LORD, and do good; so shalt thou dwell in the land, and verily thou shalt be fed.</string>
		<key>zh_TW</key>
		<string>你當倚靠耶和華而行善. 住在地上, 以祂的信實為糧.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 37:5 </string>
		<key>en</key>
		<string>Commit thy way unto the LORD; trust also in him; and he shall bring it to pass.</string>
		<key>zh_TW</key>
		<string>當將你的事交託耶和華, 並倚靠祂, 祂就必成全.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 37:7 </string>
		<key>en</key>
		<string>Rest in the LORD, and wait patiently for him: fret not thyself because of him who prospereth in his way, because of the man who bringeth wicked devices to pass.</string>
		<key>zh_TW</key>
		<string>你當默然倚靠耶和華, 耐性等候祂. 不要因那道路通達的, 和那惡謀成就的, 心懷不平.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 52:8 </string>
		<key>en</key>
		<string>But I am like a green olive tree in the house of God: I trust in the mercy of God for ever and ever.</string>
		<key>zh_TW</key>
		<string>至於我, 就像神殿中的青橄欖樹. 我永永遠遠倚靠神的慈愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 118:8 </string>
		<key>en</key>
		<string>It is better to trust in the LORD than to put confidence in man.</string>
		<key>zh_TW</key>
		<string>投靠耶和華, 強似依賴人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 3:5 </string>
		<key>en</key>
		<string>Trust in the LORD with all thine heart; and lean not unto thine own understanding.</string>
		<key>zh_TW</key>
		<string>你要專心仰賴耶和華, 不可倚靠自己的聰明.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 3:26 </string>
		<key>en</key>
		<string>For the LORD shall be thy confidence, and shall keep thy foot from being taken.</string>
		<key>zh_TW</key>
		<string>因為耶和華是你所倚靠的. 他必保守你的腳不陷入網羅.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 14:26 </string>
		<key>en</key>
		<string>In the fear of the LORD is strong confidence: and his children shall have a place of refuge.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華的, 大有依靠. 他的兒女, 也有避難所.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 16:20 </string>
		<key>en</key>
		<string>He that handleth a matter wisely shall find good: and whoso trusteth in the LORD, happy is he.</string>
		<key>zh_TW</key>
		<string>謹守訓言的, 必得好處. 依靠耶和華的, 便為有福.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 28:25 </string>
		<key>en</key>
		<string>He that is of a proud heart stirreth up strife: but he that putteth his trust in the LORD shall be made fat.</string>
		<key>zh_TW</key>
		<string>心中貪婪的, 挑起爭端. 倚靠耶和華的, 必得豐裕.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 29:25 </string>
		<key>en</key>
		<string>The fear of man bringeth a snare: but whoso putteth his trust in the LORD shall be safe.</string>
		<key>zh_TW</key>
		<string>懼怕人的陷入網羅. 惟有倚靠耶和華的, 必得安穩.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 17:7 </string>
		<key>en</key>
		<string>Blessed is the man that trusteth in the LORD, and whose hope the LORD is.</string>
		<key>zh_TW</key>
		<string>倚靠耶和華, 以耶和華為可靠的, 那人有福了.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒迦利亞書 4:6 </string>
		<key>en</key>
		<string>Then he answered and spake unto me, saying, This is the word of the LORD unto Zerubbabel, saying, Not by might, nor by power, but by my spirit, saith the LORD of hosts.</string>
		<key>zh_TW</key>
		<string>他對我說, 這是耶和華指示所羅巴伯的. 萬軍之耶和華說, 不是倚靠勢力, 不是倚靠才能, 乃是倚靠我的靈, 方能成事.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>提摩太前書 6:17 </string>
		<key>en</key>
		<string>Charge them that are rich in this world, that they be not highminded, nor trust in uncertain riches, but in the living God, who giveth us richly all things to enjoy;</string>
		<key>zh_TW</key>
		<string>你要囑咐那些今世富足的人, 不要自高, 也不要倚靠無定的錢財. 只要倚靠那厚賜百物給我們享受的神.</string>
	</dict>
</array>
</plist>
