<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>出埃及記 34:14 </string>
		<key>en</key>
		<string>For thou shalt worship no other god: for the LORD, whose name is Jealous, is a jealous God:</string>
		<key>zh_TW</key>
		<string>不可敬拜別神, 因為耶和華是忌邪的神, 名為忌邪者.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒母耳記上 16:7 </string>
		<key>en</key>
		<string>But the LORD said unto Samuel, Look not on his countenance, or on the height of his stature; because I have refused him: for the LORD seeth not as man seeth; for man looketh on the outward appearance, but the LORD looketh on the heart.</string>
		<key>zh_TW</key>
		<string>耶和華卻對撒母耳說, 不要看他的外貌和他身材高大, 我不揀選他. 因為, 耶和華不像人看人, 人是看外貌. 耶和華是看內心.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒母耳記下 22:1-4 </string>
		<key>en</key>
		<string>And David spake unto the LORD the words of this song in the day that the LORD had delivered him out of the hand of all his enemies, and out of the hand of Saul: And he said, The LORD is my rock, and my fortress, and my deliverer; The God of my rock; in him will I trust: he is my shield, and the horn of my salvation, my high tower, and my refuge, my saviour; thou savest me from violence. I will call on the LORD, who is worthy to be praised: so shall I be saved from mine enemies.</string>
		<key>zh_TW</key>
		<string>當耶和華救大衛脫離一切仇敵和掃羅之手的日子, 他向耶和華念這詩, 說, 耶和華是我的巖石, 我的山寨, 我的救主, 我的神, 我的磐石, 我所投靠的. 他是我的盾牌, 是拯救我的角, 是我的高臺, 是我的避難所. 我的救主阿, 你是救我脫離強暴的. 我要求告當讚美的耶和華, 這樣, 我必從仇敵手中被救出來.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒母耳記下 22:19 </string>
		<key>en</key>
		<string>They prevented me in the day of my calamity: but the LORD was my stay.</string>
		<key>zh_TW</key>
		<string>我遭遇災難的日子, 他們來攻擊我. 但耶和華是我的倚靠.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>撒母耳記下 22:47 </string>
		<key>en</key>
		<string>The LORD liveth; and blessed be my rock; and exalted be the God of the rock of my salvation.</string>
		<key>zh_TW</key>
		<string>耶和華是活神, 願我的磐石被人稱頌. 願神那拯救我的磐石被人尊崇.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>列王紀上 8:60 </string>
		<key>en</key>
		<string>That all the people of the earth may know that the LORD is God, and that there is none else.</string>
		<key>zh_TW</key>
		<string>使地上的萬民都知道惟獨耶和華是神, 並無別神.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>歷代志上 16:34 </string>
		<key>en</key>
		<string>O give thanks unto the LORD; for he is good; for his mercy endureth for ever.</string>
		<key>zh_TW</key>
		<string>應當稱謝耶和華. 因他本為善, 他的慈愛永遠長存.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>約伯記 1:21 </string>
		<key>en</key>
		<string>And said, Naked came I out of my mother's womb, and naked shall I return thither: the LORD gave, and the LORD hath taken away; blessed be the name of the LORD.</string>
		<key>zh_TW</key>
		<string>說, 我赤身出於母胎, 也必赤身歸回. 賞賜的是耶和華, 收取的也是耶和華. 耶和華的名是應當稱頌的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 18:2 </string>
		<key>en</key>
		<string>The LORD is my rock, and my fortress, and my deliverer; my God, my strength, in whom I will trust; my buckler, and the horn of my salvation, and my high tower.</string>
		<key>zh_TW</key>
		<string>耶和華是我的巖石, 我的山寨, 我的救主, 我的神, 我的磐石, 我所投靠的. 他是我的盾牌, 是拯救我的角, 是我的高臺.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 23:1 </string>
		<key>en</key>
		<string>The LORD is my shepherd; I shall not want.</string>
		<key>zh_TW</key>
		<string>((大衛的詩)) 耶和華是我的牧者. 我必不至缺乏.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 25:8 </string>
		<key>en</key>
		<string>Good and upright is the LORD: therefore will he teach sinners in the way.</string>
		<key>zh_TW</key>
		<string>耶和華是良善正直的. 所以他必指示罪人走正路.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 27:1 </string>
		<key>en</key>
		<string>The LORD is my light and my salvation; whom shall I fear? the LORD is the strength of my life; of whom shall I be afraid?</string>
		<key>zh_TW</key>
		<string>((大衛的詩)) 耶和華是我的亮光, 是我的拯救. 我還怕誰呢. 耶和華是我性命的保障 ((保障或作力量)). 我還懼誰呢.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 28:7 </string>
		<key>en</key>
		<string>The LORD is my strength and my shield; my heart trusted in him, and I am helped: therefore my heart greatly rejoiceth; and with my song will I praise him.</string>
		<key>zh_TW</key>
		<string>耶和華是我的力量, 是我的盾牌. 我心裡倚靠祂, 就得幫助. 所以我心中歡樂. 我必用詩歌頌讚祂.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 28:8 </string>
		<key>en</key>
		<string>The LORD is their strength, and he is the saving strength of his anointed.</string>
		<key>zh_TW</key>
		<string>耶和華是祂百姓的力量, 又是他受膏者得救的保障.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 31:21 </string>
		<key>en</key>
		<string>Blessed be the LORD: for he hath shewed me his marvellous kindness in a strong city.</string>
		<key>zh_TW</key>
		<string>耶和華是應當稱頌的. 因為他在堅固城裡, 向我施展奇妙的慈愛.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 37:17 </string>
		<key>en</key>
		<string>For the arms of the wicked shall be broken: but the LORD upholdeth the righteous.</string>
		<key>zh_TW</key>
		<string>因為惡人的膀臂, 必被折斷. 但耶和華是扶持義人.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 47:1~2 </string>
		<key>en</key>
		<string>O clap your hands, all ye people; shout unto God with the voice of triumph. For the LORD most high is terrible; he is a great King over all the earth.</string>
		<key>zh_TW</key>
		<string>萬民哪, 你們都要拍掌. 要用誇勝的聲音向神呼喊. 因為耶和華至高者是可畏的. 他是治理全地的大君王.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 91:9 </string>
		<key>en</key>
		<string>Because thou hast made the LORD, which is my refuge, even the most High, thy habitation;</string>
		<key>zh_TW</key>
		<string>耶和華是我的避難所. 你已將至高者當你的居所.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 92:8 </string>
		<key>en</key>
		<string>But thou, LORD, art most high for evermore.</string>
		<key>zh_TW</key>
		<string>惟你耶和華是至高, 直到永遠.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 100:3 </string>
		<key>en</key>
		<string>Know ye that the LORD he is God: it is he that hath made us, and not we ourselves; we are his people, and the sheep of his pasture.</string>
		<key>zh_TW</key>
		<string>你們當曉得耶和華是神. 我們是他造的, 也是屬他的. 我們是他的民, 也是他草場的羊.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 102:15 </string>
		<key>en</key>
		<string>So the heathen shall fear the name of the LORD, and all the kings of the earth thy glory.</string>
		<key>zh_TW</key>
		<string>列國要敬畏耶和華的名. 世上諸王都敬畏你的榮耀.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 105:1 </string>
		<key>en</key>
		<string>O give thanks unto the LORD; call upon his name: make known his deeds among the people.</string>
		<key>zh_TW</key>
		<string>你們要稱謝耶和華, 求告他的名, 在萬民中傳揚他的作為.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 106:1 </string>
		<key>en</key>
		<string>Praise ye the LORD. O give thanks unto the LORD; for he is good: for his mercy endureth for ever.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華. 要稱謝耶和華, 因他本為善. 他的慈愛永遠長存.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 109:30 </string>
		<key>en</key>
		<string>I will greatly praise the LORD with my mouth; yea, I will praise him among the multitude.</string>
		<key>zh_TW</key>
		<string>我要用口極力稱謝耶和華. 我要在眾人中間讚美他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 111:10 </string>
		<key>en</key>
		<string>The fear of the LORD is the beginning of wisdom: a good understanding have all they that do his commandments: his praise endureth for ever.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華是智慧得開端. 凡遵行他命令的, 便是聰明人.耶和華是永遠當讚美的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 113:1 </string>
		<key>en</key>
		<string>Praise ye the LORD. Praise, O ye servants of the LORD, praise the name of the LORD.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華. 耶和華的僕人哪, 你們要讚美, 讚美耶和華的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 113:2 </string>
		<key>en</key>
		<string>Blessed be the name of the LORD from this time forth and for evermore.</string>
		<key>zh_TW</key>
		<string>耶和華的名, 是應當稱頌的, 從今時直到永遠.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 113:3 </string>
		<key>en</key>
		<string>From the rising of the sun unto the going down of the same the LORD's name is to be praised.</string>
		<key>zh_TW</key>
		<string>從日出之地, 到日落之處, 耶和華的名是應當讚美敬畏耶和華的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 115:11 </string>
		<key>en</key>
		<string>Ye that fear the LORD, trust in the LORD: he is their help and their shield.</string>
		<key>zh_TW</key>
		<string>你們敬畏耶和華的, 要倚靠耶和華. 他是你們的幫助, 和你們的盾牌.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 115:13 </string>
		<key>en</key>
		<string>He will bless them that fear the LORD, both small and great.</string>
		<key>zh_TW</key>
		<string>凡敬畏耶和華的, 無論大小, 主必賜福給他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 116:13 </string>
		<key>en</key>
		<string>I will take the cup of salvation, and call upon the name of the LORD.</string>
		<key>zh_TW</key>
		<string>我要舉起救恩的杯, 稱揚耶和華的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 117:1 </string>
		<key>en</key>
		<string>O praise the LORD, all ye nations: praise him, all ye people.</string>
		<key>zh_TW</key>
		<string>萬國阿, 你們都當讚美耶和華. 萬民哪, 你們都當頌讚他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 117:2 </string>
		<key>en</key>
		<string>For his merciful kindness is great toward us: and the truth of the LORD endureth for ever. Praise ye the LORD.</string>
		<key>zh_TW</key>
		<string>因為他向我們大施慈愛. 耶和華的誠實存到永遠. 你們要讚美耶和華.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 118:14 </string>
		<key>en</key>
		<string>The LORD is my strength and song, and is become my salvation.</string>
		<key>zh_TW</key>
		<string>耶和華是我的力量, 是我的詩歌. 他也成了我的拯救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 118:27 </string>
		<key>en</key>
		<string>God is the LORD, which hath shewed us light: bind the sacrifice with cords, even unto the horns of the altar.</string>
		<key>zh_TW</key>
		<string>耶和華是神. 他光照了我們. 理當用繩索把祭牲拴住牽到壇角那裡.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 119:57 </string>
		<key>en</key>
		<string>Thou art my portion, O LORD: I have said that I would keep thy words.</string>
		<key>zh_TW</key>
		<string>耶和華是我的福分. 我曾說, 我要遵守你的言語.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 124:6 </string>
		<key>en</key>
		<string>Blessed be the LORD, who hath not given us as a prey to their teeth.</string>
		<key>zh_TW</key>
		<string>耶和華是應當稱頌的. 他沒有把我們當野食交給他們吞吃 ((原文作牙齒)).</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 124:8 </string>
		<key>en</key>
		<string>Our help is in the name of the LORD, who made heaven and earth.</string>
		<key>zh_TW</key>
		<string>我們得幫助, 是在乎倚靠造天地之耶和華的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 128:4 </string>
		<key>en</key>
		<string>Behold, that thus shall the man be blessed that feareth the LORD.</string>
		<key>zh_TW</key>
		<string>看哪, 敬畏耶和華的人, 必要這樣蒙福.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 129:4 </string>
		<key>en</key>
		<string>The LORD is righteous: he hath cut asunder the cords of the wicked.</string>
		<key>zh_TW</key>
		<string>耶和華是公義的. 他砍斷了惡人的繩索.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 135:1 </string>
		<key>en</key>
		<string>Praise ye the LORD. Praise ye the name of the LORD; praise him, O ye servants of the LORD.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華. 你們要讚美耶和華的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 135:3 </string>
		<key>en</key>
		<string>Praise the LORD; for the LORD is good: sing praises unto his name; for it is pleasant.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華. 耶和華本為善. 要歌頌他的名, 因為這是美好的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 145:21 </string>
		<key>en</key>
		<string>My mouth shall speak the praise of the LORD: and let all flesh bless his holy name for ever and ever.</string>
		<key>zh_TW</key>
		<string>我的口要說出讚美耶和華的話. 惟願凡有血氣的, 都永永遠遠稱頌他的聖名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 146:2 </string>
		<key>en</key>
		<string>While I live will I praise the LORD: I will sing praises unto my God while I have any being.</string>
		<key>zh_TW</key>
		<string>我一生要讚美耶和華. 我還活的時候要歌頌我的神.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 147:1 </string>
		<key>en</key>
		<string>Praise ye the LORD: for it is good to sing praises unto our God; for it is pleasant; and praise is comely.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華, 因歌頌我們的神為善為美. 讚美的話是合宜的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 148:1 </string>
		<key>en</key>
		<string>Praise ye the LORD. Praise ye the LORD from the heavens: praise him in the heights.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華, 從天上讚美耶和華, 在高處讚美他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 148:12 </string>
		<key>en</key>
		<string>Both young men, and maidens; old men, and children:</string>
		<key>zh_TW</key>
		<string>少年人和處女, 老年人和孩童, 都當讚美耶和華.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 148:5 </string>
		<key>en</key>
		<string>Let them praise the name of the LORD: for he commanded, and they were created.</string>
		<key>zh_TW</key>
		<string>願這些都讚美耶和華的名. 因他一吩咐便都造成.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 148:13 </string>
		<key>en</key>
		<string>Let them praise the name of the LORD: for his name alone is excellent; his glory is above the earth and heaven.</string>
		<key>zh_TW</key>
		<string>願這些都讚美耶和華的名. 因為獨有他的名被尊崇. 他的榮耀在天地之上.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 149:1 </string>
		<key>en</key>
		<string>Praise ye the LORD. Sing unto the LORD a new song, and his praise in the congregation of saints.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華, 向耶和華唱新歌, 在聖民的會中讚美他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 149:9 </string>
		<key>en</key>
		<string>To execute upon them the judgment written: this honour have all his saints. Praise ye the LORD.</string>
		<key>zh_TW</key>
		<string>要在他們身上施行所記錄的審判. 他的聖民都有這榮耀. 你們要讚美耶和華.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 150:1 </string>
		<key>en</key>
		<string>Praise ye the LORD. Praise God in his sanctuary: praise him in the firmament of his power.</string>
		<key>zh_TW</key>
		<string>你們要讚美耶和華, 在神的聖所讚美他, 在他顯能力的穹蒼讚美他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>詩篇 150:6 </string>
		<key>en</key>
		<string>Let every thing that hath breath praise the LORD. Praise ye the LORD.</string>
		<key>zh_TW</key>
		<string>凡有氣息的, 都要讚美耶和華. 你們要讚美耶和華.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 1:7 </string>
		<key>en</key>
		<string>The fear of the LORD is the beginning of knowledge: but fools despise wisdom and instruction.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華是知識的開端. 愚妄人藐視智慧和訓誨.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 3:26 </string>
		<key>en</key>
		<string>For the LORD shall be thy confidence, and shall keep thy foot from being taken.</string>
		<key>zh_TW</key>
		<string>因為耶和華是你所倚靠的. 他必保守你的腳不陷入網羅.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 14:26 </string>
		<key>en</key>
		<string>In the fear of the LORD is strong confidence: and his children shall have a place of refuge.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華的, 大有依靠. 他的兒女, 也有避難所.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 16:6 </string>
		<key>en</key>
		<string>By mercy and truth iniquity is purged: and by the fear of the LORD men depart from evil.</string>
		<key>zh_TW</key>
		<string>因憐憫誠實, 罪孽得贖. 敬畏耶和華的, 遠離惡事.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 18:10 </string>
		<key>en</key>
		<string>The name of the LORD is a strong tower: the righteous runneth into it, and is safe.</string>
		<key>zh_TW</key>
		<string>耶和華的名, 是堅固臺. 義人奔入, 便得安穩.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 19:23 </string>
		<key>en</key>
		<string>The fear of the LORD tendeth to life: and he that hath it shall abide satisfied; he shall not be visited with evil.</string>
		<key>zh_TW</key>
		<string>敬畏耶和華的, (.得著.) 生命. 他必恆久知足, 不遭禍患.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>箴言 31:30 </string>
		<key>en</key>
		<string>Favour is deceitful, and beauty is vain: but a woman that feareth the LORD, she shall be praised.</string>
		<key>zh_TW</key>
		<string>豔麗是虛假的. 美容是虛浮的. 惟敬畏耶和華的婦女, 必得稱讚.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 12:2 </string>
		<key>en</key>
		<string>Behold, God is my salvation; I will trust, and not be afraid: for the LORD JEHOVAH is my strength and my song; he also is become my salvation.</string>
		<key>zh_TW</key>
		<string>看哪, 神是我的拯救. 我要倚靠他, 並不懼怕. 因為主耶和華是我的力量, 是我的詩歌. 他也成為我的拯救.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 12:4 </string>
		<key>en</key>
		<string>And in that day shall ye say, Praise the LORD, call upon his name, declare his doings among the people, make mention that his name is exalted.</string>
		<key>zh_TW</key>
		<string>在那日, 你們要說, 當稱謝耶和華, 求告他的名, 將他所行的傳揚在萬民中, 題說他的名已被尊崇.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 26:4 </string>
		<key>en</key>
		<string>Trust ye in the LORD for ever: for in the LORD JEHOVAH is everlasting strength:</string>
		<key>zh_TW</key>
		<string>你們當倚靠耶和華直到永遠. 因為耶和華是永久的磐石.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 27:3 </string>
		<key>en</key>
		<string>I the LORD do keep it; I will water it every moment: lest any hurt it, I will keep it night and day.</string>
		<key>zh_TW</key>
		<string>我耶和華是看守葡萄園的, 我必時刻澆灌, 晝夜看守, 免得有人損害.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 30:18 </string>
		<key>en</key>
		<string>And therefore will the LORD wait, that he may be gracious unto you, and therefore will he be exalted, that he may have mercy upon you: for the LORD is a God of judgment: blessed are all they that wait for him.</string>
		<key>zh_TW</key>
		<string>耶和華必然等候, 要施恩給你們. 必然興起, 好憐憫你們. 因為耶和華是公平的神. 凡等候他的, 都是有福的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 33:22 </string>
		<key>en</key>
		<string>For the LORD is our judge, the LORD is our lawgiver, the LORD is our king; he will save us.</string>
		<key>zh_TW</key>
		<string>因為耶和華是審判我們的, 耶和華是給我們設律法的, 耶和華是我們的王. 他必拯救我們.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 44:24 </string>
		<key>en</key>
		<string>Thus saith the LORD, thy redeemer, and he that formed thee from the womb, I am the LORD that maketh all things; that stretcheth forth the heavens alone; that spreadeth abroad the earth by myself;</string>
		<key>zh_TW</key>
		<string>從你出胎, 造就你的救贖主耶和華如此說, 我耶和華是創造萬物的, 是獨自鋪張諸天, 鋪開大地的. (誰與我同在呢)</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 49:26 </string>
		<key>en</key>
		<string>And I will feed them that oppress thee with their own flesh; and they shall be drunken with their own blood, as with sweet wine: and all flesh shall know that I the LORD am thy Saviour and thy Redeemer, the mighty One of Jacob.</string>
		<key>zh_TW</key>
		<string>並且我必使那欺壓你的吃自己的肉, 也要以自己的血喝醉, 好像喝甜酒一樣. 凡有血氣的, 必都知道我耶和華是你的救主, 是你的救贖主, 是雅各的大能者.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 50:10 </string>
		<key>en</key>
		<string>Who is among you that feareth the LORD, that obeyeth the voice of his servant, that walketh in darkness, and hath no light? let him trust in the name of the LORD, and stay upon his God.</string>
		<key>zh_TW</key>
		<string>你們中間誰是敬畏耶和華聽從他僕人之話的. 這人行在暗中, 沒有亮光, 當倚靠耶和華的名, 仗賴自己的神.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 51:15 </string>
		<key>en</key>
		<string>But I am the LORD thy God, that divided the sea, whose waves roared: The LORD of hosts is his name.</string>
		<key>zh_TW</key>
		<string>我是耶和華你的神, 攪動大海, 使海中的波浪匉訇. 萬軍之耶和華是我的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>以賽亞書 59:19 </string>
		<key>en</key>
		<string>So shall they fear the name of the LORD from the west, and his glory from the rising of the sun. When the enemy shall come in like a flood, the Spirit of the LORD shall lift up a standard against him.</string>
		<key>zh_TW</key>
		<string>如此, 人從日落之處, 必敬畏耶和華的名. 從日出之地, 也必敬畏祂的榮耀. 因為仇敵好像急流的河水沖來, 是耶和華之氣所驅逐的.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 10:10 </string>
		<key>en</key>
		<string>But the LORD is the true God, he is the living God, and an everlasting king: at his wrath the earth shall tremble, and the nations shall not be able to abide his indignation.</string>
		<key>zh_TW</key>
		<string>惟耶和華是真神, 是活神, 是永遠的王. 他一發怒, 大地震動. 他一惱恨, 列國都擔當不起.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 17:10 </string>
		<key>en</key>
		<string>I the LORD search the heart, I try the reins, even to give every man according to his ways, and according to the fruit of his doings.</string>
		<key>zh_TW</key>
		<string>我耶和華是鑒察人心, 試驗人肺腑的, 要照各人所行的和他作事的結果報應他.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 20:13 </string>
		<key>en</key>
		<string>Sing unto the LORD, praise ye the LORD: for he hath delivered the soul of the poor from the hand of evildoers.</string>
		<key>zh_TW</key>
		<string>你們要向耶和華唱歌. 讚美耶和華. 因他救了窮人的性命脫離惡人的手.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 31:35 </string>
		<key>en</key>
		<string>Thus saith the LORD, which giveth the sun for a light by day, and the ordinances of the moon and of the stars for a light by night, which divideth the sea when the waves thereof roar; The LORD of hosts is his name:</string>
		<key>zh_TW</key>
		<string>那使太陽白日發光, 使星月有定例, 黑夜發亮, 又攪動大海, 使海中波浪匉訇的, 萬軍之耶和華是他的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>耶利米書 33:2 </string>
		<key>en</key>
		<string>Thus saith the LORD the maker thereof, the LORD that formed it, to establish it; the LORD is his name;</string>
		<key>zh_TW</key>
		<string>成就的是耶和華, 造作, 為要建立的也是耶和華. 耶和華是他的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>阿摩司書 5:8 </string>
		<key>en</key>
		<string>Seek him that maketh the seven stars and Orion, and turneth the shadow of death into the morning, and maketh the day dark with night: that calleth for the waters of the sea, and poureth them out upon the face of the earth: The LORD is his name:</string>
		<key>zh_TW</key>
		<string>要尋求那造昴星和參星, 使死蔭變為晨光, 使白日變為黑夜, 命海水來澆在地上的, 耶和華是他的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>阿摩司書 9:6 </string>
		<key>en</key>
		<string>It is he that buildeth his stories in the heaven, and hath founded his troop in the earth; he that calleth for the waters of the sea, and poureth them out upon the face of the earth: The LORD is his name.</string>
		<key>zh_TW</key>
		<string>那在天上建造樓閣, 在地上安定穹蒼, 命海水澆在地上的, 耶和華是他的名.</string>
	</dict>
	<dict>
		<key>address</key>
		<string>那鴻書 1:2 </string>
		<key>en</key>
		<string>God is jealous, and the LORD revengeth; the LORD revengeth, and is furious; the LORD will take vengeance on his adversaries, and he reserveth wrath for his enemies.</string>
		<key>zh_TW</key>
		<string>耶和華是忌邪施報的神. 耶和華施報大有忿怒. 向他的敵人施報, 向他的仇敵懷怒.</string>
	</dict>
</array>
</plist>
